<div class="main-wrap">
   <app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block "> ... </div>
       <div  class="btn btn-warning"><b >Performance</b></div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row ">
       <div  class="col-md-12">
          <h2  class="headcontent">Performance</h2>
       </div>
       <div  role="tabpanel">
          <div  class="col-sm-3">
             <ul  class="nav nav-pills brand-pills nav-stacked" role="tablist">
                <li  class="brand-nav active" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab1" role="tab">Performance Indicator</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab2" aria-expanded="false" data-toggle="tab" href="#tab2" role="tab">Store Stock</a></li>
                <br >
                <h4  class="text-theme">Power Transformer</h4>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab3" data-toggle="tab" href="#tab3" role="tab">Failure</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab03" data-toggle="tab" href="#tab03" role="tab">Availability</a></li>
                <br >
                <h4  class="text-theme">Distribution Transformer</h4>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab5" data-toggle="tab" href="#tab5" role="tab">Failure</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab05" data-toggle="tab" href="#tab05" role="tab">Availability</a></li>
                <br >
                <h4  class="text-theme">Energy Audit</h4>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab7" data-toggle="tab" href="#tab7" role="tab">Circle wise T &amp; D Losses</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab8" data-toggle="tab" href="#tab8" role="tab">Division wise T &amp; D Losses</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab9" data-toggle="tab" href="#tab9" role="tab">DHQ wise T &amp; D Losses</a></li>
             </ul>
          </div>
          <div  class="col-sm-9">
             <div  class="tab-content">
                <div  class="tab-pane active" id="tab1" role="tabpanel">
                   <h4  id="tab1">Performance Indicator</h4>
                   <hr >
                   <h5 > The updated details of the performance indicators for the financial year 2013-14 are mentioned below:- </h5>
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead"></tr>
                               <tr  class="">
                                  <th  rowspan="2">SL. NO.</th>
                                  <th  rowspan="2">Particulars</th>
                                  <th  colspan="2">Quantum</th>
                                  <th  rowspan="2">% Increase / Decrease</th>
                               </tr>
                               <tr >
                                  <th >Sanctioned</th>
                                  <th >Working</th>
                               </tr>
                               <tr >
                                  <td >01</td>
                                  <td >T&amp;D Losses %</td>
                                  <td >23.67 %</td>
                                  <td >24.48%</td>
                                  <td >(-) 0.81%</td>
                               </tr>
                               <tr >
                                  <td >02</td>
                                  <td >Billing Efficiency %</td>
                                  <td >76.33%</td>
                                  <td >75.72%</td>
                                  <td >(+) 0.61%</td>
                               </tr>
                               <tr >
                                  <td >03</td>
                                  <td >Collection Efficiency %</td>
                                  <td >105.17%</td>
                                  <td >101.88%</td>
                                  <td >(+) 3.29%</td>
                               </tr>
                               <tr >
                                  <td >04</td>
                                  <td >Aggregate Technical &amp; Commercial Losses %</td>
                                  <td >23.67%</td>
                                  <td >24.48%</td>
                                  <td >(-) 0.81%</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                   <p >To view Commercial Performance Indicator, FY 2015-16 &amp; 2016-17... <a  href="assets/img/pdf/Commercial-Performance-Indicator_2015-16_2016-17.pdf" target="_blank"><u >click here</u></a></p>
                   <p >To Know Reliability-Index, 2015-16... <a  href="assets/img/pdf/Reliability_Index-2015-16_11032016.pdf" target="_blank"><u >click here</u></a></p>
                   <p >For the latest R-15... <a  href="http://117.247.84.92/" target="_blank"><u >click here</u></a></p>
                   <p >To know the summary of Annual Accounts of MPPKVVCL, Indore from year 2014-15 to 2015-16... <a  href="assets/img/pdf/annual_accounts_of_mppkvvcl_indore_0315_to_0316.PDF" target="_blank"><u >click here</u></a></p>
                   <p >To know the summary of Annual Accounts of MPPKVVCL, Indore from year 2011-12 to 2012-13... <a  href="assets/img/pdf/annual_accounts_of_mppkvvcl_indore_0312_to_0313.pdf" target="_blank"><u >click here</u></a></p>
                </div>
                <div  class="tab-pane" id="tab2" role="tabpanel">
                   <h4 >Stock Position Of General Materials Lying In Area Stores</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12">
                         <div  class="table-responsive table-scroll">
                            <table  class="table table-striped">
                               <thead >
                                  <tr  class="thead">
                                     <th >S.No.</th>
                                     <th >As on.</th>
                                     <th >Link</th>
                                  </tr>
                               </thead>
                                  <!---->
                                <tbody >
                                 
                                 <tr  *ngFor="let data of pdfObj, index as i">
                                    <td>{{i+1}}</td>
                                    <td>{{data.date}}</td>
                                    <td>
                                       <a target="_blank" href="{{data.link}}">
                                          <img src="assets/img/pdf-icon.png" width="15px"></a>
                                    </td>
                                 </tr>                                
                                 
                               </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab3" role="tabpanel">
                   <h4 >Power Transformer Failure</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >S. No.</th>
                                  <th >Name Of Regions</th>
                                  <th >Links</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td >Indore Region</td>
                                  <td ><a  href="assets/img/pdf/indoreRegion.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td >Ujjain Region</td>
                                  <td ><a  href="assets/img/pdf/ujjainRegion.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab5" role="tabpanel">
                   <h4 >Distribution Transformer Failure</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >S. No.</th>
                                  <th >Name Of Regions</th>
                                  <th >Links</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td >Indore Region</td>
                                  <td ><a  href="assets/img/pdf/X-MER_FAILURE.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td >Ujjain Region</td>
                                  <td ><a  href="assets/img/pdf/X-MER_FAILURE.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab03" role="tabpanel">
                   <h4 >Power Transformer - Availability</h4>
                   <hr >
                   <p >Comming Soon...</p>
                </div>
                <div  class="tab-pane" id="tab05" role="tabpanel">
                   <h4 >Distribution Transformer - Availability</h4>
                   <hr >
                   <p >Comming Soon...</p>
                </div>
                <div  class="tab-pane" id="tab7" role="tabpanel">
                   <h4 >Circle Wise T &amp; D Losses</h4>
                   <hr >
                   <p >Here is the detailed description of Circle-wise T &amp; D Losses in the paschim kshetra. It is categorised with respect to HT meter and without HT meter. Click on the below links to know more.</p>
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >S. No.</th>
                                  <th >Circle Wise T &amp; D Losses</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="assets/img/pdf/Region_Cir_with_HT-33KV_JUL-DEC_2013.pdf" target="_blank"><u >Circle wise T &amp; D losses with HT</u></a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="assets/img/pdf/Region_Cir_with_Out_HT-33KV_JUL-DEC_2013.pdf" target="_blank"><u >Circle wise T &amp; D losses without HT</u></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab8" role="tabpanel">
                   <h4 >Division Wise T &amp; D Losses</h4>
                   <hr >
                   <p >Here is the detailed description of Division-wise T &amp; D Losses in the paschim kshetra. It is categorised with respect to HT meter and without Ht meter. Click on the below links to know more.</p>
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >S. No.</th>
                                  <th >Division wise T &amp; D Losses</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="assets/img/pdf/Dn_with_HT-11KV_JUL-DEC_2013.pdf" target="_blank"><u >Division-wise T &amp; D losses with HT</u></a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="assets/img/pdf/Dn_without_HT-11KV_JUL-DEC_2013.pdf" target="_blank"><u >Division-wise T &amp; D losses without HT</u></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab9" role="tabpanel">
                   <h4 >DHQ Wise T &amp; D Losses</h4>
                   <hr >
                   <p >Here is the detailed description of DHQ-wise T &amp; D Losses in the paschim kshetra. It is categorised with respect to HTmeter and without HT meter. Click on the below links to know more.</p>
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >S. No.</th>
                                  <th >Division wise T &amp; D Losses</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="assets/img/pdf/DHQ_with_HT_JUL-DEC_2013.pdf" target="_blank"><u >DHQ-wise T &amp; D losses with HT</u></a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="assets/img/pdf/DHQ_without_HT_JUL-DEC_2013.pdf" target="_blank"><u >DHQ-wise T &amp; D losses without HT</u></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 </div>
<app-footer></app-footer>