<div class="main-head" id="main-head">
    <div class="container">
       <marquee behavior="scroll">**** For any electricity related complaint please call on our (24 X 7) Helpline Number 1912****</marquee>
       <header >
          <div  class="row">
             <div  class="col-md-2 col-sm-2 col-xs-4 setlogo"><a  href="#"><img  class="logo" src="assets/img/logo.png"></a></div>
             <div  class="col-md-8 col-xs-8 col-sm-7 hidden-xs"><img  height="100px" src="assets/img/header-banner.jpg" width="100%"></div>
             <div  class="col-md-2 col-sm-3 col-xs-8 sidemenu text-center">
                <div  class="side-option top-bar">
                   <a  href="https://mail.mpwin.co.in" target="_blank">Checkmail |</a><a  href="#/contact" routerLink="/contactus">&nbsp;Help |</a><a  href="#/sitemap" routerLink="/sitemap">&nbsp;Sitemap </a>
                   <div  class="urjasptl"><a  class="btn" href="https://mpwzservices.mpwin.co.in/mpeb_english/" target="_blank"> Consumer Services (Urjas)</a></div>
                </div>
             </div>
          </div>
       </header>
       <nav  class="navigation cf">
          <button  class="navbar-toggle collapsed" data-target="#navbar-collapse-1" data-toggle="collapse" type="button"><span  class="sr-only">Toggle navigation</span><i  class="fa fa-bars"></i></button><a  class="navbar-brand" href="#">Menu</a>
          <div  class="menu-main-menu-container collapse navbar-collapse" id="navbar-collapse-1">
             <ul  class="menu" id="menu-main-menu">
                <li  class="current-menu-item" id=""><a  href="#/home" routerLink="/home">Home</a></li>
                <li  class="" id=""><a href="" routerLink="/about">About Us</a></li>
                <li  class="#" id="firstDropdown">
                   <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Services</a>
                   <ul  class="sub-menu">
                      <li  class="" id=""><a  href="#/regulation" routerLink="/teriff-details">Tariff Details</a></li>
                      <li  class="" id=""><a  href="#/grievanceforum" routerLink="/grievence">Consumer Grievances Forum</a></li>
                      <li  class="" id=""><a  routerLink="/customerservice" href="#/customer-center">Customer Center</a></li>
                      <li  class="" id=""><a  href="#/energy-saving-tips" routerLink="/energy-saving">Energy Saving &amp; Tips</a></li>
                   </ul>
                </li>
                <li  class="" id=""><a  href="#/eodb" routerLink="/EODB">EODB</a></li>
                <li  class="#" id="">
                   <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Media</a>
                   <ul  class="sub-menu">
                      <li  class="" id=""><a  href="#/gallery" routerLink="/gallery">Gallery</a></li>
                      <li  class="" id=""><a  href="#/public-press-release" routerLink="/public-press-release">Press Release</a></li>
                      <li  class="" id=""><a  href="#/newsnevents" routerLink="/public-latest-news-updates">News &amp; Events</a></li>
                   </ul>
                </li>
                <li  class="" id=""><a  href="#/public-tender-ven" routerLink="/public-tender-ven">Tenders</a></li>
                <li  class="" id=""><a  href="#/public-vendors" routerLink="/vendor">Vendors</a></li>
                <li  class="" id=""><a  href="#/CarrerComponent" routerLink="/careers">Careers</a></li>
                <li  class="" id="">
                   <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Orders/Circulars</a>
                   <ul  class="sub-menu">
                      <li  class="" id=""><a  href="#/user-view-circular" routerLink="/user-view-circular"> Circulars</a></li>
                      <li  class="" id=""><a  href="#/user-view-order" routerLink="/user-view-order">Orders</a></li>
                   </ul>
                </li>
                <li  class="" id=""><a  href="#/employeecorner" routerLink="/employee-corner">Employee Corner</a></li>
                <li  class="" id=""><a  href="#/rtiact" routerLink="/rtiact">RTI Act</a></li>
                <li  class="" id=""><a  href="#/contact" routerLink="/contactus">Contact Us</a></li>
             </ul>
          </div>
       </nav>
    </div>
 </div>