<div class="main-wrap">
   <app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block ">...</div>
       <div  class="btn btn-warning"><b >External Links</b></div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row ">
       <div  class="col-md-12">
          <h2  class="headcontent">External Links</h2>
       </div>
       <div  role="tabpanel">
          <div  class="col-sm-3">
             <ul  class="nav nav-pills brand-pills nav-stacked" role="tablist">
                <li  class="brand-nav active" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab1" role="tab">Associated Links</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab3" role="tab">Other Usefull Links</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab4" role="tab">Public Sector Undertaking</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab5" role="tab">State Electricity Regulatory Commission</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab6" role="tab">State Electricity Board</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab8" role="tab">Central Power Sectors</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab9" role="tab">Central and State regulatory commissions</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab10" role="tab">MP State Power Company's and MP renewable energy dept </a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab11" role="tab">Other SEB/State Power Sector</a></li>
             </ul>
          </div>
          <div  class="col-sm-9">
             <div  class="tab-content">
                <div  class="tab-pane active" id="tab1" role="tabpanel">
                   <h4  id="tab1">Associated Links</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-6 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr >
                                  <td ><a  href="http://energy.mp.gov.in/en" target="_blank">Energy Department GoMP</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="http://www.mperc.in/index.htm" target="_blank">MPERC</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://mppmcl.com/MPPMCLIABS/faces/Menu/Home?_afrLoop=152001227819362&amp;X-Forwarded-For=117.240.209.48&amp;_afrWindowMode=0&amp;_adf.ctrl-state=856nv2gvb_4" target="_blank">MPPMCL</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="http://www.mppgcl.mp.gov.in/" target="_blank">MPPGCL</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="http://www.mptransco.in/" target="_blank">MPPTCL</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="http://www.mpez.co.in/portal/Jabalpur_home.portal" target="_blank">MPEZ</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://portal.mpcz.in/web/" target="_blank">MPCZ</a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab3" role="tabpanel">
                   <h4  id="tab3"> Other Usefull Links</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12">
                         <h4 >Links To Electricity Related Websites</h4>
                      </div>
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr >
                                  <th >Indian</th>
                                  <th >Foreign</th>
                               </tr>
                               <tr >
                                  <td ><a  href="http://www.cea.nic.in/" target="_blank">Central Electricity Authority</a></td>
                                  <td ><a  href="https://www.adb.org/" target="_blank">Asian Development Bank</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="" target="_blank">Department For International Development (DFID)</a></td>
                                  <td ><a  href="https://www.ceer.eu/" target="_blank">Council of European Energy Regulators (CEER)</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="http://cwc.gov.in/" target="_blank">Central Water Commision</a></td>
                                  <td ><a  href="https://www.acronymfinder.com/Centre-for-Management-under-Regulation-(CMUR).html" target="_blank">Centre for Management under Regulation (CMuR)</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://www.coalindia.in/index.html" target="_blank">Coal India Ltd</a></td>
                                  <td ><a  href="https://www.bath.ac.uk/corporate-information/centre-for-the-study-of-regulated-industries-cri-collection/" target="_blank">Centre for the Study of Regulated Industries (CRI)</a></td>
                               </tr>
                               <tr ></tr>
                               <tr >
                                  <td ><a  href="http://www.igidr.ac.in/" target="_blank">Indira Gandhi Institute of Development Research</a></td>
                                  <td ><a  href="https://www.worldenergy.org/" target="_blank">World Energy Council</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://www.ipart.nsw.gov.au/Home" target="_blank">Independent Pricing and Regulatory Tribunal</a></td>
                                  <td ><a  href="https://www.eei.org/Pages/default.aspx" target="_blank">Edison Electric Institute (EEI) – U.S.</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://gailonline.com/hindi/index.html" target="_blank">Gas Authority of India Ltd. (GAIL)</a></td>
                                  <td ><a  href="https://www.epri.com/?lang=en" target="_blank">Electric Power Research Institute (EPRI)</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="http://www.indiaenergyportal.org/" target="_blank">Indian Energy Portal</a></td>
                                  <td ><a  href="https://www.iie.org/" target="_blank">Institute of International Education (IIE)</a></td>
                               </tr>
                               <tr ></tr>
                               <tr >
                                  <td ><a  href="http://www.infraline.com/knowledgebase.aspx" target="_blank">Infraline Information Portal</a></td>
                                  <td ><a  href="https://www.iea.org/" target="_blank">International Energy Agency</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://kredlinfo.in/" target="_blank">Karnataka Renewable Energy Development Ltd</a></td>
                                  <td ><a  href="https://www.aemo.com.au/" target="_blank">National Electricity Market Management Company</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://mnre.gov.in/#" target="_blank">Ministry of New and Renewable Energy Resources</a></td>
                                  <td ><a  href="http://www.nersa.org.za/" target="_blank">National Electricity Regulator – Republic of South Africa</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="http://petroleum.nic.in/" target="_blank">Ministry of Petrol &amp; Natural Gas</a></td>
                                  <td ><a  href="https://www.naruc.org/" target="_blank">National Association of Regulatory Utility Commissioners</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://www.ptcindia.com/" target="_blank">power trading corporation of india ltd</a></td>
                                  <td ><a  href="https://www.economicregulator.tas.gov.au/" target="_blank">Tasmania Energy Regulator</a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://www.ptcindia.com/" target="_blank">Powergrid Corporation of India Ltd.</a></td>
                                  <td ><a  href="" target="_blank"></a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://www.teriin.org/" target="_blank">Tata Energy Research Institute</a></td>
                                  <td ><a  href="" target="_blank"></a></td>
                               </tr>
                               <tr >
                                  <td ><a  href="https://www.pfcindia.com/Home" target="_blank">Power Finance Corporation Ltd</a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab4" role="tabpanel">
                   <h4  id="tab3"> Links To Public Sector Undertaking Websites</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr >
                                  <th >S No.</th>
                                  <th >Site Link</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="http://www.cpri.in/" target="_blanl">Central Power Research Institute</a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="https://www.recindia.nic.in/" target="_blank">Rural Electrification Corporation Ltd.</a></td>
                               </tr>
                               <tr >
                                  <td >3</td>
                                  <td ><a  href="http://www.karnatakapower.com/" target="_blank">Karnataka Power Corporation Ltd. (KPCL)</a></td>
                               </tr>
                               <tr >
                                  <td >4</td>
                                  <td ><a  href="http://www.nhpcindia.com/" target="_blank">National Hydro Electric Power Corporation Ltd</a></td>
                               </tr>
                               <tr >
                                  <td >5</td>
                                  <td ><a  href="https://www.ntpc.co.in/" target="_blank">National Thermal Power Corporation</a></td>
                               </tr>
                               <tr >
                                  <td >6</td>
                                  <td ><a  href="https://www.nlcindia.com/new_website/index.htm" target="_blank">Neyveli Lignite Corporation Ltd</a></td>
                               </tr>
                               <tr >
                                  <td >7</td>
                                  <td ><a  href="http://www.npcil.nic.in/" target="_blank">Nuclear Power Corporation of India Ltd</a></td>
                               </tr>
                               <tr >
                                  <td >8</td>
                                  <td ><a  href="http://www.nhpcindia.com/" target="_blank">National Hydroelectric Power Corporation Ltd.</a></td>
                               </tr>
                               <tr >
                                  <td >9</td>
                                  <td ><a  href="https://www.oil-india.com/" target="_blank">Oil India Ltd.</a></td>
                               </tr>
                               <tr >
                                  <td >10</td>
                                  <td ><a  href="http://www.picupindia.com/" target="_blank">PICUP</a></td>
                               </tr>
                               <tr >
                                  <td >11</td>
                                  <td ><a  href="https://www.ptcindia.com/" target="_blank">Power Trading Corporation of India Ltd</a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab5" role="tabpanel">
                   <h4  id="tab3">Links To Other Electricity Regulatory Commission in India</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr >
                                  <th >S No.</th>
                                  <th >Site Link</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="http://www.aperc.gov.in/" target="_blank">Andhra Pradesh Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="http://www.cercind.gov.in/" target="_blank">Central Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >3</td>
                                  <td ><a  href="http://www.derc.gov.in/" target="_blank">Delhi Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >4</td>
                                  <td ><a  href="https://www.gercin.org/" target="_blank">Gujarat Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >5</td>
                                  <td ><a  href="http://hperc.org/" target="_blank">Himachal Pradesh Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >6</td>
                                  <td ><a  href="http://herc.gov.in/" target="_blank">Haryan Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >7</td>
                                  <td ><a  href="https://www.kerc.org/" target="_blank">Karnataka Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >8</td>
                                  <td ><a  href="http://www.erckerala.org/" target="_blank">Kerala State Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >9</td>
                                  <td ><a  href="http://www.mercindia.org.in/" target="_blank"> Maharashtra Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >10</td>
                                  <td ><a  href="http://www.orierc.org/" target="_blank">Orissa Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >11</td>
                                  <td ><a  href="https://www.tn.gov.in/" target="_blank">Tamil Nadu Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >12</td>
                                  <td ><a  href="http://www.uperc.org/Default2.aspx" target="_blank">Uttar Pradesh Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >13</td>
                                  <td ><a  href="http://www.cercind.gov.in/" target="_blank"> Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >14</td>
                                  <td ><a  href="http://jserc.org/" target="_blank">Jharkhand State Electricity Regulatory Commission</a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab6" role="tabpanel">
                   <h4  id="tab3">Links To State Electricity Boards</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr >
                                  <th >S No.</th>
                                  <th >Site Link</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="https://www.guvnl.com/" target="_blank">Gujarat Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="https://www.hpseb.com/" target="_blank">Himachal Pradesh State Electricity Board </a></td>
                               </tr>
                               <tr >
                                  <td >3</td>
                                  <td ><a  href="http://www.kseb.in/index.php?lang=en" target="_blank">Kerala State Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >4</td>
                                  <td ><a  href="http://www.msebindia.com/" target="_blank">Maharashtra State Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >5</td>
                                  <td ><a  href="https://meecl.nic.in/" target="_blank">Meghalaya State Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >6</td>
                                  <td ><a  href="http://www.pspcl.in/" target="_blank">Punjab State Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >7</td>
                                  <td ><a  href="http://www.tneb.in/" target="_blank">Tamil Nadu Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >8</td>
                                  <td ><a  href="https://www.wbsedcl.in/irj/go/km/docs/internet/new_website/Home.html" target="_blank">West Bengal State Electricity Board</a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab8" role="tabpanel">
                   <h4  id="tab3">Links TO Central Power Sectors</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr >
                                  <th >S No.</th>
                                  <th >Site Link</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="https://www.ntpc.co.in/" target="_blank">National Thermal Power Corporation</a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="http://www.cbip.org/" target="_blank">Central Board Of Irrigation and Power</a></td>
                               </tr>
                               <tr >
                                  <td >3</td>
                                  <td ><a  href="http://www.cea.nic.in/" target="_blank">Central Electricity Authority</a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab9" role="tabpanel">
                   <h4  id="tab3">Links To Central And State Electricity Regulatory Commission Websites </h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr >
                                  <th >S No.</th>
                                  <th >Site Link</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="http://www.aperc.gov.in/" target="_blank">Andhra Pradesh Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="http://www.derc.gov.in/" target="_blank">Delhi Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >3</td>
                                  <td ><a  href="https://www.gercin.org/" target="_blank">Gujarat Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >4</td>
                                  <td ><a  href="http://hperc.org/" target="_blank"> Himachal Pradesh Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >5</td>
                                  <td ><a  href="http://www.herc.nic.in/" target="_blank">Haryana Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >6</td>
                                  <td ><a  href="https://www.kerc.org/" target="_blank">Karnatka Electricity Regulatory Commission </a></td>
                               </tr>
                               <tr >
                                  <td >7</td>
                                  <td ><a  href="http://www.erckerala.org/" target="_blank">Kerala State Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >8</td>
                                  <td ><a  href="http://www.mercindia.org.in/" target="_blank">Maharashtra Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >9</td>
                                  <td ><a  href="http://www.orierc.org/" target="_blank">Orissa Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >10</td>
                                  <td ><a  href="https://www.tn.gov.in/index.html" target="_blank">Tamil Nadu Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >11</td>
                                  <td ><a  href="http://uperc.org/" target="_blank">Uttar Pradesh Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >12</td>
                                  <td ><a  href="http://www.uerc.gov.in/" target="_blank">Uttaranchal Electricity Regulatory Commission</a></td>
                               </tr>
                               <tr >
                                  <td >13</td>
                                  <td ><a  href="http://jserc.org/" target="_blank">Jharkhand State Electricity Regulatory Commission</a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab10" role="tabpanel">
                   <h4  id="tab3">Following are the links of MP Power Sectors </h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr >
                                  <th >S No.</th>
                                  <th >Site Link</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="https://mppmcl.com/MPPMCLIABS/faces/Menu/Home?_afrLoop=162914809183923&amp;_afrWindowMode=0&amp;_adf.ctrl-state=r8txabj7h_4" target="_blank">M.P. Power Managment Company Limited</a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="http://www.mpez.co.in/portal/Jabalpur_home.portal" target="_blank">M.P. Poorv Kshetra Vidyut Vitran Co.</a></td>
                               </tr>
                               <tr >
                                  <td >3</td>
                                  <td ><a  href="http://www.mpwz.co.in/#/home" target="_blank">M.P.Paschim Kshetra Vidyut Vitran Co.</a></td>
                               </tr>
                               <tr >
                                  <td >4</td>
                                  <td ><a  href="http://www.mpcz.co.in/portal/Bhopal_home.portal" target="_blank">M.P.Madhya Kshetra Vidyut Vitran Co.</a></td>
                               </tr>
                               <tr >
                                  <td >5</td>
                                  <td ><a  href="http://www.mptransco.in/" target="_blank">M.P. Power Transmission Company Limited</a></td>
                               </tr>
                               <tr >
                                  <td >6</td>
                                  <td ><a  href="http://mppgcl.mp.gov.in/" target="_blank">M.P. Power Generating Company Limited </a></td>
                               </tr>
                               <tr >
                                  <td >7</td>
                                  <td ><a  href="http://www.sldcmpindia.com/" target="_blank">State Load Dispatch Center, Jabalpur</a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab11" role="tabpanel">
                   <h4  id="tab3">Links To Other State Electricity Board &amp; State Power Sector Websites: </h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr >
                                  <th >S No.</th>
                                  <th >Site Link</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="http://www.kseb.in/index.php?lang=en" target="_blank">Kerala State Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="http://www.msebindia.com/" target="_blank"> Maharashtra State Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >3</td>
                                  <td ><a  href="https://www.pspcl.in/" target="_blank">Punjab State Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >4</td>
                                  <td ><a  href="http://www.tneb.in/" target="_blank">Tamil Nadu Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >5</td>
                                  <td ><a  href="https://www.wbsedcl.in/irj/go/km/docs/internet/new_website/Home.html" target="_blank">West Bengal State Electricity Board</a></td>
                               </tr>
                               <tr >
                                  <td >6</td>
                                  <td ><a  href="http://www.apcentralpower.com/" target="_blank">Andhra Pradesh Central Power Dist. Company</a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
<app-footer></app-footer>