<div class="main-wrap">
<app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block ">...</div>
       <div  class="btn btn-warning"><b >Quick Links</b></div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row ">
       <div  class="col-md-12">
          <h2  class="headcontent">Quick Links</h2>
       </div>
       <div  role="tabpanel">
          <div  class="col-sm-3">
             <ul  class="nav nav-pills brand-pills nav-stacked" role="tablist">
                <li  class="brand-nav active" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab1" role="tab">Maintenance Manual</a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://www.dccwz.com/" target="_blank">33KV Data Acquisition System (Web based SCADA)</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab2" role="tab">11KV Avg. Supply Hours (Dec-18)</a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://59.90.204.233/hvcms/Home.jsp" target="_blank">HVCMS AMR</a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://117.220.243.6/urjasreporter/yojanadashboard/" target="_blank">Saral Bijli Bill &amp; Mukhyamantri Bakaya Bijli Bill Mafi Yojana- Dashboard</a></li>
                <li  class="brand-nav" role="presentation"><a  href="https://ngb.mpwin.co.in/login" target="_blank">Next Generation Billing (NGB)</a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://pms.mpcz.in:2020/dpms/Home.jsp" target="_blank">PMS (IPDS)</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab3" aria-expanded="false" data-toggle="tab" href="#tab3" role="tab">IEE Disclosure Report (ADB Loan 3066) (Hindi)</a></li>
                <li  class="brand-nav" role="presentation"><a  href="https://www.adb.org/projects/documents/ind-47100-004-iee-0" target="_blank"> IEE Disclosure Report (ADB Loan 3066)</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab14" aria-expanded="false" data-toggle="tab" href="#tab14" role="tab">IEE Disclosure Report (ADB Loan 2830) (Hindi)</a></li>
                <li  class="brand-nav" role="presentation"><a  href="https://www.adb.org/projects/documents/ind-43467-016-iee" target="_blank">IEE Disclosure Report (ADB Loan 2830)</a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://info.mpwin.co.in:443/CTR2/StreetLight" target="_blank">Street Light Vendor Registration</a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://117.220.243.21/naljalyojana" target="_blank">Nal Jal Yojana</a></li>
                <li  class="brand-nav" role="presentation"><a  href="assets/img/zip/BeneficiaryList-MMSKPCYandGrantScheme_2016-17_2017-18.zip">Beneficiary List (MMSKPCY &amp; Grant-Scheme, 2016-17 &amp; 2017-18)</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab4" data-toggle="tab" href="#tab4" role="tab">List of De-scoped Turn-Key Contractors (DDUGJY) </a></li>
                <li  class="brand-nav" role="presentation"><a  href="https://ewaybillgst.gov.in/login.aspx" target="_blank"> E-Way Bill Login</a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://mpenergy.nic.in/en/pradhan-mantri-sahaj-bijli-har-ghar-yojana-saubhagya" target="_blank"> SAUBHAGYA</a></li>
                <li  class="brand-nav" role="presentation"><a  href="#/employeecorner?tab=tab1" routerlink="/employeecorner">Employee-Corner</a></li>
                <li  class="brand-nav" role="presentation"><a  href="https://info.mpwin.co.in:443/mppkvvclpension/" target="_blank">View Pension Slip</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab6" aria-expanded="false" data-toggle="tab" href="#tab6" role="tab">Pensioner Life-Certificate</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab14" aria-expanded="false" href="assets/img/pdf/Jeevan_pramaan_mobile_face_app_user_manual.pdf" target="_blank "role="tab">"Jeevan Praman Mobile Face App" User Manual </a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://www.mpebepf.com/data/pfmislogin.asp" target="_blank">Know Your GPF </a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab001" aria-expanded="false" data-toggle="tab" href="#tab001" role="tab">Achal Sampatti Vivaran </a></li>
                <li  class="brand-nav" role="presentation"><a  href="https://mpwzservices.mpwin.co.in/mpeb_english/home" target="_blank">Contractor/Vender Registration (Solar/MMSKPCY) </a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://info.mpwin.co.in:443/CTR2/contractor/index.jsp" target="_blank">Vendor Approval System (Turn Key Contractors)</a></li>
                <li  class="brand-nav" role="presentation"><a  href="assets/img/zip/Standardization_Store _Purchase_Procurement-DTR-PTR_Services_Rules-2015_20102015.zip">Standardization (DTR-PTR)</a></li>
                <li  class="brand-nav" role="presentation"><a  href="assets/img/zip/AG_Audit30.06.21.zip">AG-Audit</a></li>
                <li  class="brand-nav" role="presentation"><a  href="https://www.mpeproc.gov.in" target="_blank">e - Tendering</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab7" aria-expanded="false" data-toggle="tab" href="#tab7" role="tab">E-Procurement Training Manual</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab8" aria-expanded="false" data-toggle="tab" href="#tab8" role="tab">Procurement Manual</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab9" aria-expanded="false" data-toggle="tab" href="#tab9" role="tab">Standard Operating Procedures </a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://www.mpwz.co.in/ShowProperty/UCMRepository/Contribution%20Folders/Indore/lokSeva_ind/lokSeva_ind.html" target="_blank">LokSeva Praday Guarantee Adhiniyam </a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://www.ceomadhyapradesh.nic.in" target="_blank">Link your Aadhar-Card </a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab10" aria-expanded="false" data-toggle="tab" href="#tab10" role="tab">Report Power Theft </a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab11" aria-expanded="false" data-toggle="tab" href="#tab11" role="tab">Planned Shutdowns (Oct-19) </a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab12" aria-expanded="false" data-toggle="tab" href="#tab12" role="tab">Previous Month Shutdown Details </a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab13" aria-expanded="false" data-toggle="tab" href="#tab13" role="tab">Digital Verifitaion Process of Life Certificate </a></li>
                </ul>
          </div>
          <div  class="col-sm-9">
             <div  class="tab-content">
                <div  class="tab-pane active" id="tab1" role="tabpanel">
                   <h4  id="tab1">Maintenance Manual</h4>
                   <hr >
                   <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/Maintenance_Manual_12092019.pdf" style="height: 800px;" width="100%">
                </div>
                <div  class="tab-pane" id="tab2" role="tabpanel">
                   <h4 >11KV Avg. Supply Hours (Dec-18)</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12">
                         <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/11KV_Avg_Supply_Hrs_Dec-18.pdf" style="height: 700px;" width="100%">
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab3" role="tabpanel">
                   <h4 >IEE Disclosure Report (ADB Loan 3066) (Hindi)</h4>
                   <hr >
                   <br >
                   <div  class="row">
                      <div  class="col-md-12">
                         <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/IEE_3066_Hindi_for_Disclosure.pdf" style="height: 700px;" width="100%">
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab14" role="tabpanel">
                   <h4 >IEE Disclosure Report (ADB Loan 2830) (Hindi)</h4>
                   <hr >
                   <br >
                   <div  class="row">
                      <div  class="col-md-12">
                         <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/IEE_2830_Hindi_for_Disclosure.pdf" style="height: 700px;" width="100%">
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab4" role="tabpanel">
                   <h4 >List of De-scoped Turn-Key Contractors (DDUGJY)</h4>
                   <div  class="row">
                      <div  class="col-md-12">
                         <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/DescopedTurnKeyContractorDDUGJY_16052018.pdf" style="height: 700px;" width="100%">
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab5" role="tabpanel">
                   <h4 >Employee Corner</h4>
                   <div  class="row">
                      <div  class="col-md-12">
                         <p >Following table contains employee-service links for Indore Discom:</p>
                         <div  class="col-md-12 table-responsive">
                            <table  class="table table-striped">
                               <tbody >
                                  <tr  class="thead">
                                     <th >Particulars</th>
                                     <th >Link </th>
                                  </tr>
                                  <tr >
                                     <td >Paschim Kshetra Circular &amp; Information System Portal </td>
                                     <td ><a  href="http://urjastesting.mpwin.co.in/admin-new/login" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >URJAS (Online Upbhokta Seva Kendra for Official Use Only) </td>
                                     <td ><a  href="https://mpwzservices.mpwin.co.in/mpserhomeuser/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >Saral Bijli Bill &amp; Mukhyamantri Bakaya Bijli Bill Mafi Yojana- Dashboard </td>
                                     <td ><a  href="http://10.98.0.81/urjasreporter/yojanadashboard" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >MPWIN Email Server </td>
                                     <td ><a  href="ftp://ftp.mpwin.co.in/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >MPWIN Email Server </td>
                                     <td ><a  href="https://webmail.mpdiscom.com/owa" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >ERP Helpdesk </td>
                                     <td ><a  href="https://support.mpwin.co.in:8080/arsys/shared/login.jsp?/arsys/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >MPWIN ERP FTP Server </td>
                                     <td ><a  href="ftp://ftp.mpwin.co.in/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >Grivance Redressal System</td>
                                     <td ><a  href="http://info.mpwin.co.in:443/complaint/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >Vigilance Billing </td>
                                     <td ><a  href="http://210.212.158.54:8080/vigilance/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >Energy Audit System </td>
                                     <td ><a  href="https://eas.mpwin.co.in/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >MPPKVVCL Ranking </td>
                                     <td ><a  href="http://info.mpwin.co.in:443/ranking" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >Online Feeder-wise Line-Loss</td>
                                     <td ><a  href="http://info.mpwin.co.in:443/feederwiselineloss" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >View Pension Slip</td>
                                     <td ><a  href="https://info.mpwin.co.in:443/mppkvvclpension" target="_target"><u ></u>Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Departmental Info-Portal</td>
                                     <td ><a  href="http://info.mpwin.co.in:443" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Online Cash Collection</td>
                                     <td ><a  href="http://onlinecashcollection.mpwin.co.in:8080/wincoll/" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Vigilance Information System </td>
                                     <td ><a  href="http://www.mppkvvcl.org/vis/" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Maintanance Monitoring System </td>
                                     <td ><a  href="http://info.mpwin.co.in:443/mms/" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Samasya Nivaran Shivir Schedule </td>
                                     <td ><a  href="assets/img/zip/SAMASYA_NIVARAN_SHIVIR_SCHEDULE.zip">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >HT-Connection Monitoring System</td>
                                     <td ><a  href="http://mpeb.ebullience-tech.com/" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >11 KV Supply Hours Monitoring System </td>
                                     <td ><a  href="http://117.240.209.34/shms/Home.jsp" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Krishak Bhoomi Rakba Jankari </td>
                                     <td ><a  href="http://www.landrecords.mp.gov.in/mpeb/districtreport.aspx" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Vendor Approval System (Departmental Use)</td>
                                     <td ><a  href="http://info.mpwin.co.in:443/CTR2/discomuser/index.jsp" target="_target">Click Here</a></td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab6" role="tabpanel">
                   <h4 >Pensioner Life Certificate</h4>
                   <div  class="row">
                      <div  class="col-md-12">
                         <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/Life-Certificate_2019-20.pdf" style="height: 700px;" width="100%">
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab7" role="tabpanel">
                   <h4 >E-Procurement Training Manual</h4>
                   <div  class="row">
                      <div  class="col-md-12">
                        <pdf-viewer src="assets/img/pdf/E-Procur_TrainingManual.pdf" [original-size]="false" style="height: 700px;" width="100%"></pdf-viewer>
                         <!-- <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/E-Procur_TrainingManual.pdf" style="height: 700px;" width="100%"> -->
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab8" role="tabpanel">
                   <h4 >Procurement Manual</h4>
                   <div  class="row">
                      <div  class="col-md-12">
                         <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/Procurement-Manual.pdf" style="height: 700px;" width="100%">
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab9" role="tabpanel">
                   <h4 >Standard Operating Procedures</h4>
                   <div  class="row">
                      <div  class="col-md-12">
                         <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/Final_SOP_for_MP_DCCS_31_Mar_2012.pdf" style="height: 700px;" width="100%">
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab001" role="tabpanel">
                   <h4 >Achal Sampatti Vivaran</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-bordered">
                            <tbody >
                               <tr  class="thead">
                                  <th >Sr. No.</th>
                                  <th >Description</th>
                                  <th >Information Documents</th>
                               </tr>
                            </tbody>
                            <!----><!---->
                            <tbody >
                               <tr >
                                  <td  class="text-center" colspan="5">No record found.</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab10" role="tabpanel">
                   <h4 >Report Power Theft</h4>
                   <hr >
                   <br >
                   <div  class="row">
                      <div  class="col-md-12">
                         <h5 >Information Of the person who is involved</h5>
                         <form  class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="">
                            <div  class="well">
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">Name Of Person Involved:</label>
                                  <div  class="col-sm-8"><input  class="form-control" type="text"></div>
                               </div>
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">House No./Plot No.,Street <span  class="text-danger">*</span> :</label>
                                  <div  class="col-sm-8"><input  class="form-control" type="text"></div>
                               </div>
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">Area/Colony <span  class="text-danger">*</span></label>
                                  <div  class="col-sm-8"><input  class="form-control" type="text"></div>
                               </div>
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">Landmark <span  class="text-danger">*</span></label>
                                  <div  class="col-sm-8"><input  class="form-control" type="text"></div>
                               </div>
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">District <span  class="text-danger">*</span></label>
                                  <div  class="col-sm-8"><input  class="form-control" type="text"></div>
                               </div>
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">Division <span  class="text-danger">*</span></label>
                                  <div  class="col-sm-8"><input  class="form-control" type="text"></div>
                               </div>
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">Pincode <span  class="text-danger">*</span></label>
                                  <div  class="col-sm-8"><input  class="form-control" type="text"></div>
                               </div>
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">Theft Category <span  class="text-danger">*</span></label>
                                  <div  class="col-sm-8"><input  class="form-control" type="text"></div>
                               </div>
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">Theft Description <span  class="text-danger">*</span></label>
                                  <div  class="col-sm-8"><textarea  class="form-control" rows="5"></textarea></div>
                               </div>
                            </div>
                            <h5 >Unique Identify of Complaint</h5>
                            <div  class="well">
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">Unique Identity Type <span  class="text-danger">*</span></label>
                                  <div  class="col-sm-8"><textarea  class="form-control" rows="5"></textarea></div>
                               </div>
                               <div  class="form-group">
                                  <label  class="control-label col-sm-4">Unique Identity Number <span  class="text-danger">*</span></label>
                                  <div  class="col-sm-8"><textarea  class="form-control" rows="5"></textarea></div>
                               </div>
                            </div>
                            <div  class="form-group">
                               <div  class="col-sm-12">
                                  <div  class="checkbox"><label ><input  type="checkbox" value="">Do you want to disclose your complete Identity?</label></div>
                               </div>
                            </div>
                            <div  class="form-group">
                               <div  class="col-md-12 text-right"><button  class="btn btn-warning">Submit</button>&nbsp; <button  class="btn btn-default">Cancel</button></div>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab11" role="tabpanel">
                   <h4 >Planned Shutdowns (Oct-19) </h4>
                   <hr >
                   <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/WZ_Planned-Shutdown_Oct-19.pdf" style="height: 700px;" width="100%">
                </div>
                <div  class="tab-pane" id="tab12" role="tabpanel">
                   <h4 >Previous Month Shutdown Details</h4>
                   <hr >
                   <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/StutdownDetail_SEP-19_16102019.pdf" style="height: 700px;" width="100%">
                </div>
                <div  class="tab-pane" id="tab13" role="tabpanel">
                   <h4 >Digital Verifitaion Process of Life Certificate</h4>
                   <hr >
                   <embed  alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" src="assets/img/pdf/Digital_Varifitaion_Process_of_Life_Certificate.pdf" style="height: 700px;" width="100%">
                </div>

             </div>
          </div>
       </div>
    </div>
 </div>
 </div>
<app-footer></app-footer>