<div class="main-wrap">
   <app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block ">...</div>
       <div  class="btn btn-warning"><b >DSM Account</b></div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row post-content">
       <div  class="col-md-12">
          <h2 >DSM Account</h2>
          <p >DSM Account of 33KV West-Discom Embedded open access Consumer/Generator</p>
          <div  class="table-responsive table-scroll">
             <table  class="table table-striped">
                <tbody >
                   <tr  class="thead">
                      <th >Sr. No.</th>
                      <th >Month</th>
                      <th >Report in PDF</th>
                      <th >Report in Excel</th>
                   </tr>
                </tbody>
                <tbody >
                   <tr >
                      <td >1.</td>
                      <td >Nov-18</td>
                      <td ><a  href="assets/img/OAC DSM For Upload/11-NOV-18/Date-Wise DSM OF Ms Durga Khandsari For NOV-18.pdf" target="blank"><u >Datewise</u></a></td>
                      <td ><a  href="assets/img/OAC DSM For Upload/11-NOV-18/Block-Wise DSM of Ms Durga khandsari for NOV-18.xls" target="blank"><u >Blockwise</u></a></td>
                   </tr>
                   <tr >
                      <td >2.</td>
                      <td >Dec-18</td>
                      <td ><a  href="assets/img/OAC DSM For Upload/12-DEC-18/Date-Wise DSM OF Ms Durga Khandsari For DEC-18.pdf" target="blank"><u >Datewise</u></a></td>
                      <td ><a  href="assets/img/OAC DSM For Upload/12-DEC-18/Block-Wise DSM OF Ms Durga Khandsari For DEC-18.xls" target="blank"><u >Blockwise</u></a></td>
                   </tr>
                   <tr >
                      <td >3.</td>
                      <td >Jan-19</td>
                      <td ><a  href="assets/img/OAC DSM For Upload/01 JAN-19/Date-Wise DSM OF Ms Durga Khandsari For JAN-19.pdf" target="blank"><u >Datewise</u></a></td>
                      <td ><a  href="assets/img/OAC DSM For Upload/01 JAN-19/Block-Wise DSM OF Ms Durga Khandsari For JAN-19.xls" target="blank"><u >Blockwise</u></a></td>
                   </tr>
                   <tr >
                      <td >4.</td>
                      <td >Feb-19</td>
                      <td ><a  href="assets/img/OAC DSM For Upload/02 FEB-19/Date-Wise DSM OF Ms Durga Khandsari For FEB-19.pdf" target="blank"><u >Datewise</u></a></td>
                      <td ><a  href="assets/img/OAC DSM For Upload/02 FEB-19/Block-Wise DSM OF Ms Durga Khandsari For FEB-19.xls" target="blank"><u >Blockwise</u></a></td>
                   </tr>
                   <tr >
                      <td >5.</td>
                      <td >Mar-19</td>
                      <td ><a  href="assets/img/OAC DSM For Upload/03 MAR-19/Date-Wise DSM OF Ms Durga Khandsari For MAR-19.pdf" target="blank"><u >Datewise</u></a></td>
                      <td ><a  href="assets/img/OAC DSM For Upload/03 MAR-19/Block-Wise DSM OF Ms Durga Khandsari For MAR-19.xls" target="blank"><u >Blockwise</u></a></td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
 </div>
<app-footer></app-footer>