<div class="main-wrap">
   <app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-warning"><b >Important Links</b></div>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block "> ... </div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row ">
       <div  class="col-md-12">
          <h2  class="headcontent">Important Links</h2>
       </div>
       <div  role="tabpanel">
          <div  class="col-sm-3">
             <ul  class="nav nav-pills brand-pills nav-stacked" role="tablist">
                <li  class="brand-nav active" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab1" role="tab">&nbsp;&nbsp;Planned Shutdowns (Nov-19)</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab2" aria-expanded="false" data-toggle="tab" href="#tab2" role="tab">&nbsp;&nbsp;Previous Month Shutdown Details</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab3" aria-expanded="false" data-toggle="tab" href="#tab3" role="tab">&nbsp;Maintenance Manual</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab4" data-toggle="tab" href="#tab4" role="tab">&nbsp;&nbsp;Indra Grih Jyoti Yojana (Provisional Beneficiary-List)</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab2" href="http://ndfis.mpwin.co.in:9090/dfis/" role="tab" target="_blank">N-DFIS (D-Transformer Failure Info. System)</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab2" href="http://urjastesting.mpwin.co.in/shms-report/" role="tab" target="_blank">&nbsp;Shutdown Hours Monitoring System (SHMS)</a></li>
             </ul>
          </div>
          <div  class="col-sm-9">
             <div  class="tab-content">
                <div  class="tab-pane active" id="tab1" role="tabpanel">
                   <h4  id="tab1"> Planned Shutdowns (Nov-19)</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12"><iframe  height="500px" src="assets/img/pdf/WZ_Planned-Shutdown_Nov-19.pdf" width="100%"></iframe></div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab2" role="tabpanel">
                   <h4 >Shutdown Hours Monitoring System (SHMS)</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12"><iframe  height="500px" src="assets/img/pdf/ShutdownDetail_OCT-19_08112019.pdf" width="100%"></iframe></div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab3" role="tabpanel">
                   <h4 >&nbsp;Maintenance Manual</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12"><iframe  height="500px" src="assets/img/pdf/Maintenance_Manual_12092019.pdf" width="100%"></iframe></div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab4" role="tabpanel">
                   <h4 >&nbsp;&nbsp;INDRA GRIH JYOTI YOJANA, 2019</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >S. No.</th>
                                  <th >Circle</th>
                                  <th >List</th>
                               </tr>
                               <tr >
                                  <td >1.</td>
                                  <td > Agar O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Agar.zip"><u >55714</u></a></td>
                               </tr>
                               <tr >
                                  <td >2.</td>
                                  <td > Barwani O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Barwani.zip"><u >	174921</u></a></td>
                               </tr>
                               <tr >
                                  <td >3.</td>
                                  <td > Burhanpur O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Burhanpur.zip"><u >84636</u></a></td>
                               </tr>
                               <tr >
                                  <td >4.</td>
                                  <td > Dewas O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Dewas.zip"><u >	133756</u></a></td>
                               </tr>
                               <tr >
                                  <td >5.</td>
                                  <td > Dhar O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Dhar.zip"><u >	223808</u></a></td>
                               </tr>
                               <tr >
                                  <td >6.</td>
                                  <td > Indore City Circle </td>
                                  <td ><a  href="assets/img/zip/IndoreCity.zip"><u >	108880</u></a></td>
                               </tr>
                               <tr >
                                  <td >7.</td>
                                  <td > Indore O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/IndoreOnM.zip"><u >	122069</u></a></td>
                               </tr>
                               <tr >
                                  <td >8.</td>
                                  <td > Jhabua O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Jhabua.zip"><u >	227442</u></a></td>
                               </tr>
                               <tr >
                                  <td >9.</td>
                                  <td > Khandwa O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Khandwa.zip"><u >	128609</u></a></td>
                               </tr>
                               <tr >
                                  <td >10.</td>
                                  <td > Khargone O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Khargone.zip"><u >	158269</u></a></td>
                               </tr>
                               <tr >
                                  <td >11.</td>
                                  <td > Mandsaur O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Mandsaur.zip"><u >	165535</u></a></td>
                               </tr>
                               <tr >
                                  <td >12.</td>
                                  <td > Neemuch O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Neemuch.zip"><u >93835</u></a></td>
                               </tr>
                               <tr >
                                  <td >13.</td>
                                  <td > Ratlam O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Ratlam.zip"><u >138591</u></a></td>
                               </tr>
                               <tr >
                                  <td >14.</td>
                                  <td > Shajapur O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Shajapur.zip"><u > 82261</u></a></td>
                               </tr>
                               <tr >
                                  <td >15.</td>
                                  <td > Ujjain O&amp;M Circle </td>
                                  <td ><a  href="assets/img/zip/Ujjain.zip"><u >	171111</u></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 </div>
<app-footer></app-footer>