<div class="main-wrap">
   <app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block ">...</div>
       <div  class="btn btn-warning"><b >Energy Saving &amp; Tips</b></div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row ">
       <div  class="col-md-12">
          <h2  class="headcontent">Energy Saving &amp; Tips</h2>
       </div>
       <div  role="tabpanel">
          <div  class="col-sm-3">
             <ul  class="nav nav-pills brand-pills nav-stacked" role="tablist">
                <li  class="brand-nav active" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab1" role="tab">Do's and Dont's</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab2" aria-expanded="false" data-toggle="tab" href="#tab2" role="tab">Comparison between various light sources</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab3" aria-expanded="false" data-toggle="tab" href="#tab3" role="tab">Tips on Power usage</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab4" data-toggle="tab" href="#tab4" role="tab">First Aid</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab5" role="tab">Shock Prevention</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab3" aria-expanded="false" data-toggle="tab" href="#tab6" role="tab">House Wiring Standards</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab4" data-toggle="tab" href="#tab7" role="tab">House Lighting Standards</a></li>
             </ul>
          </div>
          <div  class="col-sm-9">
             <div  class="tab-content">
                <div  class="tab-pane active" id="tab1" role="tabpanel">
                   <h4  id="tab1">Do's And Dont's</h4>
                   <hr >
                   <p >For More Information, click on the following Links: </p>
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >S. No.</th>
                                  <th >Links </th>
                               </tr>
                               <tr >
                                  <td >1 </td>
                                  <td ><a  href="assets/img/pdf/doDontHindi_bpl.pdf" target="_blank"><u >Do's And Dont's in Hindi</u></a></td>
                               </tr>
                               <tr >
                                  <td >2.</td>
                                  <td ><a  href="assets/img/pdf/doDontEng_bpl.pdf" target="_blank"><u >Do's And Dont's in English</u></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab2" role="tabpanel">
                   <h4 >Comparing The Top Led Lightbulbs For Household Use</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >LED bulb</th>
                                  <th >Watts </th>
                                  <th >Lumens</th>
                                  <th >Incandescent Equivalent Watts</th>
                                  <th >Dimmable</th>
                                  <th >CRI</th>
                                  <th >Lifespan</th>
                               </tr>
                               <tr >
                                  <td >ZetaLux Warm White </td>
                                  <td >7</td>
                                  <td >350</td>
                                  <td >40-50 </td>
                                  <td >no</td>
                                  <td >80</td>
                                  <td >&gt; 50,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >ZetaLux Cool White </td>
                                  <td >7</td>
                                  <td >450</td>
                                  <td >50-60 </td>
                                  <td >no</td>
                                  <td >75</td>
                                  <td >&gt; 50,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >DesingoLux NX8 </td>
                                  <td >8</td>
                                  <td >300</td>
                                  <td >40-50 </td>
                                  <td >no</td>
                                  <td >80</td>
                                  <td >&gt; 50,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >EvoLux SH Warm White </td>
                                  <td >13</td>
                                  <td >1000 </td>
                                  <td >75-100 </td>
                                  <td >no</td>
                                  <td >80</td>
                                  <td >&gt; 50,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >EvoLux SH Cool White </td>
                                  <td >13</td>
                                  <td >1075</td>
                                  <td >75-100 </td>
                                  <td >no</td>
                                  <td >75</td>
                                  <td >&gt; 50,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >DesignoLux Candelabra </td>
                                  <td >3</td>
                                  <td >150</td>
                                  <td >20 </td>
                                  <td >no</td>
                                  <td >80</td>
                                  <td >&gt; 50,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >EarthPAR-20, R-20, Spot light, Warm White </td>
                                  <td >7</td>
                                  <td >400</td>
                                  <td >40-50 </td>
                                  <td >no</td>
                                  <td >70</td>
                                  <td >&gt; 50,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >LumiSelect MR-16 PRO, Warm White, Dimmable </td>
                                  <td >5</td>
                                  <td >350</td>
                                  <td >40-50 </td>
                                  <td >yes</td>
                                  <td >75</td>
                                  <td >&gt; 50,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >LumiSelect PAR-16 Warm White, Dimmable </td>
                                  <td >6</td>
                                  <td >300</td>
                                  <td >40-50 </td>
                                  <td >yes</td>
                                  <td >75</td>
                                  <td >&gt; 50,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >LumiSelect PAR-20 Warm White, Dimmable </td>
                                  <td >9</td>
                                  <td >450</td>
                                  <td >40-50 </td>
                                  <td >yes</td>
                                  <td >75</td>
                                  <td >&gt; 50,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >Cree LR 6 Bulb and Module, Warm White, Dimmable </td>
                                  <td >12</td>
                                  <td >650</td>
                                  <td >50-60 </td>
                                  <td >yes</td>
                                  <td >80</td>
                                  <td >&gt; 35,000 hrs</td>
                               </tr>
                               <tr >
                                  <td >Cree LR 5 Bulb and Module, Warm White, Dimmable </td>
                                  <td >10.5</td>
                                  <td >540</td>
                                  <td >40-60 </td>
                                  <td >yes</td>
                                  <td >94</td>
                                  <td >&gt; 35,000 hrs</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                      <div  class="col-md-12 table-responsive">
                         <h4 >Comparing the Features of Incandescent, CFL And Led Bilbs</h4>
                         <hr >
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th ></th>
                                  <th >LEDs </th>
                                  <th >CFLs</th>
                                  <th >Incandescents</th>
                               </tr>
                               <tr >
                                  <td >Frequent On/Off Cycling</td>
                                  <td >no effect</td>
                                  <td >shortens lifespan </td>
                                  <td >some effect </td>
                               </tr>
                               <tr >
                                  <td >Turns on instantly</td>
                                  <td >yes</td>
                                  <td >slight delay</td>
                                  <td >yes </td>
                               </tr>
                               <tr >
                                  <td >Durability</td>
                                  <td >durable</td>
                                  <td >fragile </td>
                                  <td >fragile</td>
                               </tr>
                               <tr >
                                  <td >Heat Emitted</td>
                                  <td >low (3 btu's/hr) </td>
                                  <td >medium (30 btu's/hr)</td>
                                  <td >high (85 btu's/hr) </td>
                               </tr>
                               <tr >
                                  <td >Sensitivity to temperature</td>
                                  <td >no</td>
                                  <td >yes </td>
                                  <td >some </td>
                               </tr>
                               <tr >
                                  <td >Sensitivity to humidity</td>
                                  <td >no</td>
                                  <td >yes </td>
                                  <td >some </td>
                               </tr>
                               <tr >
                                  <td >Hazardous Materials </td>
                                  <td >none</td>
                                  <td >yes </td>
                                  <td >some </td>
                               </tr>
                               <tr >
                                  <td >Replacing Frequency(over 50K hours) </td>
                                  <td >1 </td>
                                  <td >5 </td>
                                  <td >40+</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab3" role="tabpanel">
                   <h4 >Tips For Power Usage</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 ">
                         <p >There are seven ways anybody can save energy which makes sense. Energy is a resource that shouldn't be wasted, and using less will benefit us all. Here are some simple things you can do to get started with smart energy practices.</p>
                         <ol  type="1">
                            <li >Switch to CFLs Switching the lights in your home, including your outdoor lights, to compact fluorescent lights (CFLs).</li>
                            <li >Turn off lights Turn off the appliances, electronics and lights when you leave a room.</li>
                            <li >Install power bars Installing power bars makes it easy to turn off multiple appliances and electronics</li>
                            <li >Turn down the thermostat Turn your thermostat down when you go to bed or leave the house, or install a programmable thermostat that will do it automatically.</li>
                            <li >Switch to cold water Washing clothes? Switch to cold water.</li>
                            <li >Unplug your second fridge Unplug your second fridge when it's not in use.</li>
                            <li >Use a clothesline The sun makes a great dryer.</li>
                         </ol>
                      </div>
                   </div>
                   <br >
                   <h4 >Tips for Domestic &amp; Commerical Light &amp; Fan Consumers</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 ">
                         <ol  type="1">
                            <li > Make use of daylight and natural ventilation to maximum and avoid to use bulbs or tube lights during daytime.</li>
                            <li >Switch off light and fans if not in use. Reduce high wattage bulbs where less light is needed.</li>
                            <li >Avoid unnecessary decoration of lights.</li>
                            <li >In a vacant house, limit the use of electricity as per minimum requirement.</li>
                            <li >Switch on or off the streetlights in proper time.</li>
                            <li > Buy the electrical equipments, which use less electricity and are energy efficient.</li>
                            <li >In air conditioned buildings and houses, keep the doors and windows close to save electricity. Clean A.C. filter regularly.</li>
                            <li >Use electronic regulators in fans, use 36-watt thin tube light instead of 40-watt tube light.</li>
                            <li >Use fluorescent lights in place of bulb to reduce consumption of electricity.</li>
                            <li >Use standard pins to tap supply from plug points. Avoid tapping supply by inserting bare wires.</li>
                            <li >Do not use lamp fittings to tie wires or ropes to dry cloths.</li>
                            <li >Replace fuse bulb after switch is off.</li>
                            <li >Defrost the fridge once ice gets more then ¼" thick. Regular defrosting reduces power consumption. Place the fridge with its coils at distance from wall so that the coils can have sufficient space to breathe. Do place the refrigerator near any heat source.</li>
                            <li >Use of light colour on walls reduces lighting requirement.</li>
                            <li > Make home safe for children against electrical hazards. Install plastic protective caps on plug points.</li>
                            <li >Electricity and water can be a deadly combination. Always remember that water and electricity should never mix. </li>
                         </ol>
                      </div>
                   </div>
                   <br >
                   <h4 >Tips For Agricultural Consumers</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 ">
                         <ol  type="1">
                            <li > Use foot valves of less resistance in tube well to reduce the consumption of electricity.</li>
                            <li >To avoid damage of bearings try to keep motor and pump in a straight line. This will reduce wastage of energy.</li>
                            <li >Use good quality PVC suction pipe to save energy.</li>
                            <li > Use appropriate pump sets, keeping in mind the height and capacity of pipe.</li>
                            <li >To improve the power factor and voltage use shunt capacitor withmotor.This will also save the electricity.</li>
                         </ol>
                      </div>
                   </div>
                   <br >
                   <h4 >Tips For Industrial Consumers</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 ">
                         <ol  type="1">
                            <li >Energy is lost by belts. Minimize the use of belts.</li>
                            <li >Keep the motor near load.</li>
                            <li >To improve power factor and so the voltage, use shunt capacitors with motor.This will also reduce the consumption of electricity.</li>
                            <li >The damaged bearings waste energy, change them immediately.</li>
                            <li > Use motors with good capacity and size.</li>
                            <li >Use one motor of appropriate capacity for one work.</li>
                            <li >Avoid loading of vehicles like trucks beyond the permissible height.This may cause electrical accident due to coming of vehicle in contact with electrical lines.</li>
                            <li >Don't mount or tie advertisement boards,flags etc on electric poles.</li>
                            <li >Place Men working sign boards on all switches before start working.</li>
                            <li >Place rubber mats in front of electrical switchboard.</li>
                            <li >Keep the fire extinguisher is good condition. Check them periodically.</li>
                         </ol>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab4" role="tabpanel">
                   <h4 >First AID</h4>
                   <hr >
                   <br >
                   <div  class="row">
                      <div  class="col-md-12">
                         <p >Electrical Shock Survival Remember...Electric shock may stun and stop the victim's breathing. Delay inrescue and resuscitation may be fatal.Isolate the electricity Low voltage(240/415): Immediately switch off the electricity. If this is not practicable, pull or push the casualty clear of the electrical contact using drynon-conducting material (wood, rope, clothing, plastic or rubber). Do not usemetal or anything moist.High Voltage: Wait until the electricity is turned off.After rescue, if the patient is not breathing, commence artificial respiration immediately and continue without interruption for hours if necessary. When assistance is available, send for a doctor and an ambulance.Artificial respiration.</p>
                         <p >The air we breathe out contains ample oxygen to sustain life. Lay the patient on their back. If this is not possible, commence artificial respiration where the patient is.Revival of children Care must be exercised to avoid over inflation. This can damage the child's lungs and will lead to inflation of the stomach.Action plan: The information provided in this section is based on the action plan "DRABC".In an emergency, it is necessary to have an action plan, one that will work every time, regardless of the type of incident. The action plan is called DRABC. Each letter of the DRABC plan stands for something the rescuer must do and the order in which it must be done.</p>
                         <p >For Further Information <a  href="assets/img/pdf/firstAid_bpl.pdf" target="_blank"><u >Click here</u></a></p>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab5" role="tabpanel">
                   <h4 >Shock Prevention</h4>
                   <hr >
                   <p >Steps to prevent electrical injury depend primarily on the age of people involved: </p>
                   <ol  type="1">
                      <li >
                         For children younger than 12 years, most electrical injuries are caused by power cords. Inspect your power cords and extension cords. Replace any cords that have broken or cracked external covering and any cord that has exposed wire. 
                         <ol  type="i">
                            <li > Do not allow children to play with any electrical cord.</li>
                            <li >Limit use of extension cords and be sure the cord is rated for the current (measured in amps) that will be drawn by the device being powered.</li>
                            <li >Use outlet covers to protect infants from exploring electrical outlets.</li>
                            <li >Update old, ungrounded electrical outlets to grounded (3-prong) systems. Replace outlets near any water (sink, tub) with fused (GFCI) outlets.</li>
                         </ol>
                      </li>
                      <li >In children older than 12 years, most electrical injuries result from exploring and activities around high-power systems. Explain to adolescent children that they should not climb on power towers, play near transformer systems, or explore electrified train rails or other electrical systems.</li>
                      <li >Among adults, use of common sense can help reduce electrical injury. People who work with electricity should always check that the power is off before working on electrical systems. Avoid use of any electrical device near water. Be careful of standing in water or when working with electricity.</li>
                      <li >Use caution when outdoors during a thunderstorm containing lightning. Protect yourself from lightning strikes by seeking shelter in a sturdy building or crouching low and away from trees and metal objects if caught outdoors.</li>
                   </ol>
                </div>
                <div  class="tab-pane" id="tab6" role="tabpanel">
                   <h4 >House Wiring Standard</h4>
                   <hr >
                   <p >Following link is regarding House Wiring Standard .It shows the House Wiring Standard .</p>
                   <p ><a  href="assets/img/pdf/houseWiring1.pdf" target="_blank"><u >click here to know</u></a></p>
                   <h4 >Measures For Safe Clearance</h4>
                   <hr >
                   <p >Following link gives details of safety measures for safe clearance from 11/33 KV lines .</p>
                   <p ><a  href="assets/img/pdf/safety_clearance.pdf" target="_blank"><u >click here to know</u></a></p>
                </div>
                <div  class="tab-pane" id="tab7" role="tabpanel">
                   <h4 >House Lighting Standard</h4>
                   <hr >
                   <p >Following link is regarding House Lighting Standard.It shows the House Lighting Standard. </p>
                   <p ><a  href="assets/img/pdf/houseLighting_jbl.pdf" target="_blank"><u >click here to know</u></a></p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 </div>
<app-footer></app-footer>