<div class="main-wrap" appNoRightClick>
    <div class="loadr" *ngIf='loading'>
        <img src="assets/img/loading.gif" class="loadimg">
    </div>
    <app-dept-header></app-dept-header>

    <div class="main container cf">
        <div class="row post-content">
            <div class="col-md-12">
                <h2>Document List</h2>

                <div class="table-responsive" style="max-height:400px">
                    <table class="table table-striped">
                        <tr class="thead">
                            <th>Sr. No.</th>
                            <th>Document ID</th>
                            <th>Document Number</th>
                            <th>Document Type</th>
                            <th>Document Description</th>
                            <th>Document UploadedBy</th>
                            <th>Document UploadedDate</th>
                            <th>Document DateRemoved</th>
                            <th>Document reasonremoved</th>
                            <th>Document timeupload</th>
                            <th>Document status</th>
                            <!-- <th>Document filename</th>
                <th>Document filepath</th> -->
                            <th>Document removedby</th>
                            <th>Document subject</th>
                            <th width="250px">Action</th>
                        </tr>
                        <tr *ngFor='let data of resp;index as i'>
                            <td>{{i+1}}</td>
                            <td>{{data.docid}}</td>
                            <td>{{data.docsrno}}</td>
                            <td>{{data.doctype}}</td>
                            <td>{{data.docdescription}}</td>
                            <td>{{data.uploadby}}</td>
                            <td>{{data.orderdate}}</td>
                            <td>{{data.dateremoved}}</td>
                            <td>{{data.reasonremoved}}</td>
                            <td>{{data.timeupload}}</td>
                            <td>{{data.status}}</td>
                            <!-- <td>{{data.filename}}</td>
                <td>{{data.filepath}}</td> -->
                            <td>{{data.removedby}}</td>
                            <td>{{data.subject}}</td>
                            <td><a class="btn btn-info btn-xs" target="_blank"
                                    [routerLink]="['/view-pdf',data.filepath,data.subject,data.docdescription,data.filename]">
                                    View Document</a></td>
                            <!-- <td><button class="btn btn-info btn-xs"  data-toggle="modal" data-target="#myModal" (click)="onDownload(data.filepath)"> View Document</button></td> -->
                        </tr>
                    </table>
                </div>
            </div>

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>