<div class="main-wrap">
   <app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block ">...</div>
       <div  class="btn btn-warning"><b >Sitemap</b></div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row">
       <div  class="col-md-12">
          <h2  class="headcontent">Sitemap</h2>
       </div>
    </div>
    <div  class="row">
       <div  class="col-md-3">
          <ul  class="sitemap-list">
             <li >
                <a  href="#/about" routerlink="/about"><i  class="wb-bookmark mr-10"></i><span >About US </span></a>
                <ul >
                   <li ><a  routerlink="/about" href="#/about?tab=tab1"><i  class="icon wb-link float-right"></i><span >Managing Director's Message</span></a></li>
                   <li ><a  routerlink="/about" href="#/about?tab=tab2"><i  class="icon wb-link float-right"></i><span >Company Profile</span></a></li>
                   <li ><a  routerlink="/about" href="#/about?tab=tab3"><i  class="icon wb-link float-right"></i><span >Board of Directors</span></a></li>
                   <li ><a  routerlink="/about" href="#/about?tab=tab4"><i  class="icon wb-link float-right"></i><span >Committees</span></a></li>
                   <li ><a  routerlink="/about" href="#/about?tab=tab5"><i  class="icon wb-link float-right"></i><span >Policies</span></a></li>
                   <li ><a  routerlink="/about" href="#/about?tab=tab6"><i  class="icon wb-link float-right"></i><span >Annual Reports &amp; Returns</span></a></li>
                   <li ><a  routerlink="/about" href="#/about?tab=tab8"><i  class="icon wb-link float-right"></i><span >Human Resource</span></a></li>
                   <li ><a  routerlink="/about" href="#/about?tab=tab9"><i  class="icon wb-link float-right"></i><span >Organization Structure</span></a></li>
                   <li ><a  routerlink="/about" href="#/about?tab=tab10"><i  class="icon wb-link float-right"></i><span >Organization Setup</span></a></li>
                   <li ><a  routerlink="/about" href="#/about?tab=tab11"><i  class="icon wb-link float-right"></i><span >Awards and Recognition achieved by MPPKVVCL</span></a></li>
                   <li ><a  routerlink="/about" href="#/about?tab=tab12"><i  class="icon wb-link float-right"></i><span >Customer Charter</span></a></li>
                   <li >
                      <a ><i  class="icon wb-link float-right"></i><span >Company Initiatives</span></a>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/about?tab=tab13" routerlink="/about">ERP </a></li>
                         <li ><a  href="#/about?tab=tab14" routerlink="/about">RAPDRP</a></li>
                         <li ><a  href="#/about?tab=tab15" routerlink="/about">SCADA </a></li>
                         <li ><a  href="#/about?tab=tab16" routerlink="/about">Scheme</a></li>
                         <li ><a  href="#/about?tab=tab17" routerlink="/about">Project</a></li>
                      </ul>
                   </li>
                   <li >
                      <a ><i  class="icon wb-link float-right"></i><span >Govt. Initiatives</span></a>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/about?tab=tab18" routerlink="/about">Feeder Separation </a></li>
                         <li ><a  href="#/about?tab=tab19" routerlink="/about">Subsidy Scheme</a></li>
                         <li ><a  href="#/about?tab=tab20" routerlink="/about">MLA/MP Fund Scheme </a></li>
                         <li ><a  href="#/about?tab=tab21" routerlink="/about">Facility for BPL Consumers</a></li>
                         <li ><a  href="#/about?tab=tab22" routerlink="/about">Scheme for Tribal Area</a></li>
                         <li ><a  href="#/about?tab=tab23" routerlink="/about">Scheme for SC/ST</a></li>
                         <li ><a  href="#/about?tab=tab25" routerlink="/about">Project</a></li>
                      </ul>
                   </li>
                </ul>
             </li>
             <li ><a  href="#/public-tender-ven" routerlink="/public-tender-ven"><i  class="wb-bookmark mr-10"></i><span >Tenders </span></a></li>
          </ul>
          <ul  class="sitemap-list">
             <li >
                <a  href="#/rtiact" routerlink="/rtiact"><i  class="wb-bookmark mr-10"></i><span >RTI Act </span></a>
                <ul  class="sitemap-list-sub">
                   <li ><a  href="#/rtiact?tab=tab1" routerlink="/rtiact">RTI Act &amp; Guidelines</a></li>
                   <li ><a  href="#/rtiact?tab=tab2" routerlink="/rtiact">RTI Performance </a></li>
                   <li ><a  href="#/rtiact?tab=tab3" routerlink="/rtiact">RTI Directory </a></li>
                </ul>
             </li>
          </ul>
       </div>
       <div  class="col-md-3">
          <ul  class="sitemap-list">
             <li >
                <a  href="#"><i  class="wb-bookmark mr-10"></i><span >Services </span></a>
                <ul >
                   <li ><a  href="https://mpwzservices.mpwin.co.in/mpeb_english/" target="_blank"><i  class="icon wb-link float-right"></i><span >Consumer Services (Urjas)</span></a></li>
                   <li >
                      <a ><i  class="icon wb-link float-right"></i><span >Tariff Details </span></a>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/regulation?tab=tab1" routerlink="/regulation"><i  class="icon wb-link float-right"></i><span >Tariff Details </span></a></li>
                         <li ><a  href="#/regulation?tab=tab2" routerlink="/regulation"><i  class="icon wb-link float-right"></i><span >Filing of ARR </span></a></li>
                         <li ><a  href="#/regulation?tab=tab3" routerlink="/regulation"><i  class="icon wb-link float-right"></i><span >Require list of defaulters </span></a></li>
                         <li ><a  href="http://59.90.139.140/Default.asp?outflg=Y" target="_blank"><i  class="icon wb-link float-right"></i><span >R-15 </span></a></li>
                         <li ><a  href="#/regulation?tab=tab4" routerlink="/regulation"><i  class="icon wb-link float-right"></i><span >Average Daily Supply </span></a></li>
                         <li ><a  href="#/regulation?tab=tab5" routerlink="/regulation"><i  class="icon wb-link float-right"></i><span >Court Cases </span></a></li>
                         <li ><a  href="#/regulation?tab=tab6" routerlink="/regulation"><i  class="icon wb-link float-right"></i><span >Accident </span></a></li>
                      </ul>
                   </li>
                   <li >
                      <a  href="#/grievanceforum" routerlink="/grievanceforum"><i  class="icon wb-link float-right"></i><span >Consumer Grievances Forum </span></a>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/grievanceforum?tab=tab1" routerlink="/grievanceforum"><i  class="icon wb-link float-right"></i><span >Application Form </span></a></li>
                         <li ><a  href="#/grievanceforum?tab=tab2" routerlink="/grievanceforum"><i  class="icon wb-link float-right"></i><span >Hearing </span></a></li>
                         <li ><a  href="#/grievanceforum?tab=tab3" routerlink="/grievanceforum"><i  class="icon wb-link float-right"></i><span >Case Order List </span></a></li>
                         <li ><a  href="#/grievanceforum?tab=tab4" routerlink="/grievanceforum"><i  class="icon wb-link float-right"></i><span >Archieve </span></a></li>
                      </ul>
                   </li>
                   <li >
                      <a  href="#/customer-center" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >Customer Center </span></a>
                      <h4  class="text-theme">Customer Facilities</h4>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/customer-center?tab=tab5" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >Fuse Of Call Centres </span></a></li>
                         <li ><a  href="#/customer-center?tab=tab6" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >Payment Channels </span></a></li>
                         <li ><a  href="http://www.dfis.mppkvvcl.org/" target="_blank"><i  class="icon wb-link float-right"></i><span >SMS Based Transformer Management System </span></a></li>
                         <li ><a  href="#/customer-center?tab=tab20" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >Weekly Planned Shutdown</span></a></li>
                      </ul>
                      <h4  class="text-theme">Download</h4>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/customer-center?tab=tab8" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >Forms </span></a></li>
                         <li ><a  href="#/customer-center?tab=tab9" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >User Manual </span></a></li>
                         <li ><a  href="#/customer-center?tab=tab09" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >Others </span></a></li>
                         <li ><a  href="#/customer-center?tab=tab10" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >IE Act</span></a></li>
                      </ul>
                      <h4  class="text-theme">Tools</h4>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/customer-center?tab=tab13" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >Citizen Charter </span></a></li>
                         <li ><a  href="#/customer-center?tab=tab14" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >Supply Code</span></a></li>
                         <li ><a  href="#/customer-center?tab=tab15" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >Certification of Energy Metersr </span></a></li>
                         <li ><a  href="#/customer-center?tab=tab16" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >Scheduled/Unscheduled Outage</span></a></li>
                         <li ><a  href="#/customer-center?tab=tab17" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >DSM Account Of OA Consumers</span></a></li>
                         <li ><a  href="#/customer-center?tab=tab18" routerlink="/customer-center"><i  class="icon wb-link float-right"></i><span >FAQ's</span></a></li>
                      </ul>
                   </li>
                   <li >
                      <a  href="#/energy-saving-tips" routerlink="/energy-saving-tips"><i  class="icon wb-link float-right"></i><span >Energy Saving &amp; Tips </span></a>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/energy-saving-tips?tab=tab1" routerlink="/energy-saving-tips"><i  class="icon wb-link float-right"></i><span >Do's and Dont's </span></a></li>
                         <li ><a  href="#/energy-saving-tips?tab=tab2" routerlink="/energy-saving-tips"><i  class="icon wb-link float-right"></i><span >Comparison between various light sources </span></a></li>
                         <li ><a  href="#/energy-saving-tips?tab=tab3" routerlink="/energy-saving-tips"><i  class="icon wb-link float-right"></i><span >Tips on Power usage </span></a></li>
                         <li ><a  href="#/energy-saving-tips?tab=tab4" routerlink="/energy-saving-tips"><i  class="icon wb-link float-right"></i><span >First Aid </span></a></li>
                         <li ><a  href="#/energy-saving-tips?tab=tab5" routerlink="/energy-saving-tips"><i  class="icon wb-link float-right"></i><span >Shock Prevention </span></a></li>
                         <li ><a  href="#/energy-saving-tips?tab=tab6" routerlink="/energy-saving-tips"><i  class="icon wb-link float-right"></i><span >House Wiring Standards </span></a></li>
                         <li ><a  href="#/energy-saving-tips?tab=tab7" routerlink="/energy-saving-tips"><i  class="icon wb-link float-right"></i><span >House Lighting Standards</span></a></li>
                      </ul>
                   </li>
                </ul>
             </li>
          </ul>
       </div>
       <div  class="col-md-3">
          <ul  class="sitemap-list">
             <li ><a  href="#/eodb" routerlink="/eodb"><i  class="wb-bookmark mr-10"></i><span >EODB </span></a></li>
          </ul>
          <ul  class="sitemap-list">
             <li >
                <a  href="#"><i  class="wb-bookmark mr-10"></i><span >Orders &amp; Circulars </span></a>
                <ul >
                   <li ><a  href="#/user-view-circular" routerlink="/user-view-circular"><i  class="icon wb-link float-right"></i><span >Circulars</span></a></li>
                   <li ><a  href="#/user-view-order" routerlink="/user-view-order"><i  class="icon wb-link float-right"></i><span >Orders </span></a></li>
                </ul>
             </li>
          </ul>
          <ul  class="sitemap-list">
             <li >
                <a  href="#/CarrerComponent" routerlink="/CarrerComponent"><i  class="wb-bookmark mr-10"></i><span >Careers </span></a>
                <ul  class="sitemap-list-sub">
                   <li ><a  href="#/CarrerComponent?tab=tab1" routerlink="/CarrerComponent">Why MPPKVVCL </a></li>
                   <li ><a  href="#/CarrerComponent?tab=tab2" routerlink="/CarrerComponent">Current Openings </a></li>
                   <li ><a  href="#/CarrerComponent?tab=tab3" routerlink="/CarrerComponent">Latest Results </a></li>
                </ul>
             </li>
          </ul>
          <ul  class="sitemap-list">
             <li >
                <a ><i  class="wb-bookmark mr-10"></i><span >Useful Links </span></a>
                <ul  class="sitemap-list-sub">
                   <li >
                      <a  href="#/imp-link" routerlink="/imp-link">Important Links </a>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/imp-link?tab=tab1" routerlink="/imp-link">&nbsp;Planned Shutdowns (Nov-19) </a></li>
                         <li ><a  href="#/imp-link?tab=tab2" routerlink="/imp-link">Previous Month Shutdown Details </a></li>
                         <li ><a  href="#/imp-link?tab=tab3" routerlink="/imp-link">Maintenance Manual </a></li>
                         <li ><a  href="#/imp-link?tab=tab4" routerlink="/imp-link">Indra Grih Jyoti Yojana (Provisional Beneficiary-List) </a></li>
                         <li ><a  href="http://ndfis.mpwin.co.in:9090/dfis/" target="_blank">N-DFIS (D-Transformer Failure Info. System) </a></li>
                         <li ><a  href="http://urjastesting.mpwin.co.in/shms-report/" target="_blank">Shutdown Hours Monitoring System (SHMS) </a></li>
                      </ul>
                   </li>
                   <li >
                      <a  href="#/performance" routerlink="/performance">Performance </a>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/performance?tab=tab1" routerlink="/performance">Performance Indicator </a></li>
                         <li ><a  href="#/performance?tab=tab2" routerlink="/performance">Store Stock </a></li>
                         <h4  class="text-theme">Power Transformer</h4>
                         <li ><a  href="#/performance?tab=tab3" routerlink="/performance">Failure </a></li>
                         <li ><a  href="#/performance?tab=tab03" routerlink="/performance">Availability</a></li>
                         <h4  class="text-theme">Distribution Transformer</h4>
                         <li ><a  href="#/performance?tab=tab5" routerlink="/performance">Failure </a></li>
                         <li ><a  href="#/performance?tab=tab05" routerlink="/performance">Availability</a></li>
                         <h4  class="text-theme">Energy Audit</h4>
                         <li ><a  href="#/performance?tab=tab7" routerlink="/performance">Circle Wise T &amp; D Losses </a></li>
                         <li ><a  href="#/performance?tab=tab8" routerlink="/performance">Division Wise T &amp; D Losses</a></li>
                         <li ><a  href="#/performance?tab=tab9" routerlink="/performance"> DHQ Wise T &amp; D Losses</a></li>
                      </ul>
                   </li>
                   <li >
                      <a  href="#/regulation" routerlink="/regulation">Quick Links </a>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/quicklinks?tab=tab1" routerlink="/quicklinks">Maintenance Manual </a></li>
                         <li ><a  href="http://www.dccwz.com/" target="_blank"> Acquisition System (Web based SCADA) </a></li>
                         <li ><a  href="#/quicklinks?tab=tab2" routerlink="/quicklinks">11KV Avg. Supply Hours (Dec-18) </a></li>
                         <li ><a  href="http://59.90.204.233/hvcms/Home.jsp" target="_blank">HVCMS AMR </a></li>
                         <li ><a  href="http://117.220.243.6/urjasreporter/yojanadashboard/" target="_blank">Saral Bijli Bill &amp; Mukhyamantri Bakaya Bijli Bill Mafi Yojana- Dashboard </a></li>
                         <li ><a  href="https://ngb.mpwin.co.in/login" target="_blank">Next Generation Billing (NGB) </a></li>
                         <li ><a  href="http://pms.mpcz.in:2020/dpms/Home.jsp" target="_blank">PMS (IPDS) </a></li>
                         <li ><a  href="#/quicklinks?tab=tab3" routerlink="/quicklinks">IEE Disclosure Report (ADB Loan 3066) (Hindi) </a></li>
                         <li ><a  href="https://www.adb.org/projects/documents/ind-47100-004-iee-0" target="_blank">IEE Disclosure Report (ADB Loan 3066) </a></li>
                         <li ><a  href="#/quicklinks?tab=tab14" routerlink="/quicklinks">IEE Disclosure Report (ADB Loan 2830) (Hindi) </a></li>
                         <li ><a  href="https://www.adb.org/projects/documents/ind-43467-016-iee" target="_blank">IEE Disclosure Report (ADB Loan 2830) </a></li>
                         <li ><a  href="http://info.mpwin.co.in:443/CTR2/StreetLight" target="_blank">Street Light Vendor Registration </a></li>
                         <li ><a  href="http://117.220.243.21/naljalyojana" target="_blank">Nal Jal Yojana </a></li>
                         <li ><a  href="assets/img/zip/BeneficiaryList-MMSKPCYandGrantScheme_2016-17_2017-18.zip">Beneficiary List (MMSKPCY &amp; Grant-Scheme, 2016-17 &amp; 2017-18) </a></li>
                         <li ><a  href="#/quicklinks?tab=tab4" routerlink="/quicklinks">List of De-scoped Turn-Key Contractors (DDUGJY) </a></li>
                         <li ><a  href="https://ewaybillgst.gov.in/login.aspx" target="_blank"> E-Way Bill Login </a></li>
                         <li ><a  href="http://mpenergy.nic.in/en/pradhan-mantri-sahaj-bijli-har-ghar-yojana-saubhagya" target="_blank"> SAUBHAGYA </a></li>
                         <li ><a  href="#/quicklinks?tab=tab5" routerlink="/quicklinks"> Employee-Corner </a></li>
                         <li ><a  href="http://info.mpwin.co.in:443/mppkvvclpension/" target="_blank"> View Pension Slip </a></li>
                         <li ><a  href="#/quicklinks?tab=tab6" routerlink="/quicklinks"> Pensioner Life-Certificate </a></li>
                         <li ><a  href="http://www.mpebepf.com/data/pfmislogin.asp" target="_blank">Know Your GPF </a></li>
                         <li ><a  href="#/quicklinks?tab=tab001" routerlink="/quicklinks"> Achal Sampatti Vivaran </a></li>
                         <li ><a  href="http://urjastesting.mpwin.co.in:9090/contractorreg/home" target="_blank"> Contractor/Vender Registration (Solar/MMSKPCY) </a></li>
                         <li ><a  href="http://info.mpwin.co.in:443/CTR2/contractor/index.jsp" target="_blank"> Vendor Approval System (Turn Key Contractors) </a></li>
                         <li ><a  href="assets/img/zip/Circle-wise_Arrear-List_042019.zip">Circle-wise Arrear List </a></li>
                         <li ><a  href="assets/img/zip/Standardization_Store _Purchase_Procurement-DTR-PTR_Services_Rules-2015_20102015.zip"> Standardization (DTR-PTR) </a></li>
                         <li ><a  href="assets/img/zip/AG_Audit_31082019.zip">AG-Audit </a></li>
                         <li ><a  href="https://www.mpeproc.gov.in" target="_blank">e - Tendering </a></li>
                         <li ><a  href="#/quicklinks?tab=tab7" routerlink="/quicklinks">E-Procurement Training Manual </a></li>
                         <li ><a  href="#/quicklinks?tab=tab8" routerlink="/quicklinks">Procurement Manual </a></li>
                         <li ><a  href="#/quicklinks?tab=tab9" routerlink="/quicklinks"> Standard Operating Procedures </a></li>
                         <li ><a  href="http://www.mpwz.co.in/ShowProperty/UCMRepository/Contribution%20Folders/Indore/lokSeva_ind/lokSeva_ind.html" target="_blank"> LokSeva Praday Guarantee Adhiniyam </a></li>
                         <li ><a  href="http://www.ceomadhyapradesh.nic.in" target="_blank">Link your Aadhar-Card </a></li>
                         <li ><a  href="#/quicklinks?tab=tab10" routerlink="/quicklinks">Report Power Theft </a></li>
                         <li ><a  href="#/quicklinks?tab=tab11" routerlink="/quicklinks">Planned Shutdowns (Oct-19) </a></li>
                         <li ><a  href="#/quicklinks?tab=tab12" routerlink="/quicklinks"> Previous Month Shutdown Details </a></li>
                         <li ><a  href="#/quicklinks?tab=tab13" routerlink="/quicklinks"> Digital Varifitaion Process of Life Certificate </a></li>
                      </ul>
                   </li>
                   <li ><a  href="#/public-latest-result" routerlink="/public-latest-result">Latest Results </a></li>
                   <li ><a  href="#/public-latest-news-updates" routerlink="/public-latest-news-updates">Latest Announcments </a></li>
                   <li >
                      <a  href="#/external-links" routerlink="/external-links">External Links </a>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/external-links?tab=tab1" routerlink="/external-links">Associated Links </a></li>
                         <li ><a  href="#/external-links?tab=tab3" routerlink="/external-links">Other Usefull Links </a></li>
                         <li ><a  href="#/external-links?tab=tab4" routerlink="/external-links">Public Sector Undertaking </a></li>
                         <li ><a  href="#/external-links?tab=tab5" routerlink="/external-links">State Electricity Regulatory Commission </a></li>
                         <li ><a  href="#/external-links?tab=tab6" routerlink="/external-links">State Electricity Board </a></li>
                         <li ><a  href="#/external-links?tab=tab8" routerlink="/external-links">Central Power Sectors </a></li>
                         <li ><a  href="#/external-links?tab=tab9" routerlink="/external-links">Central and State regulatory commissions </a></li>
                         <li ><a  href="#/external-links?tab=tab10" routerlink="/external-links">MP State Power Company's and MP renewable energy dept </a></li>
                         <li ><a  href="#/external-links?tab=tab11" routerlink="/external-links">Other SEB/State Power Sector </a></li>
                      </ul>
                   </li>
                   <li ><a  href="#/apps" routerlink="/apps">Our App's on Playstore </a></li>
                </ul>
             </li>
          </ul>
       </div>
       <div  class="col-md-3">
          <ul  class="sitemap-list">
             <li >
                <a  href="#"><i  class="wb-bookmark mr-10"></i><span >Media </span></a>
                <ul >
                   <li ><a  href="#/gallery" routerlink="/gallery"><i  class="icon wb-link float-right"></i><span >Gallery</span></a></li>
                   <li ><a  href="#/public-press-release" routerlink="/public-press-release"><i  class="icon wb-link float-right"></i><span >Press Releases </span></a></li>
                   <li >
                      <a  href="#/newsnevents" routerlink="/newsnevents"><i  class="icon wb-link float-right"></i><span >News &amp; Events </span></a>
                      <ul  class="sitemap-list-sub">
                         <li ><a  href="#/newsnevents?tab=tab1" routerlink="/newsnevents">Financial Highlights </a></li>
                         <li ><a  href="#/newsnevents?tab=tab2" routerlink="/newsnevents">Key Performance Indicators </a></li>
                      </ul>
                   </li>
                </ul>
             </li>
          </ul>
          <ul  class="sitemap-list">
             <li >
                <a  href="#/employeecorner" routerlink="/employeecorner"><i  class="wb-bookmark mr-10"></i><span >Employee Corner </span></a>
                <ul  class="sitemap-list-sub">
                   <li ><a  href="#/employeecorner?tab=tab3" routerlink="/employeecorner">Employee Section </a></li>
                   <li ><a  href="#/employeecorner?tab=tab4" routerlink="/employeecorner">Employee Corner </a></li>
                   <li ><a  href="#/employeecorner?tab=tab1" routerlink="/employeecorner">Employee Achal Sampatti </a></li>
                   <li ><a  href="#/employeecorner?tab=tab5" routerlink="/employeecorner">Employee Gradation List </a></li>
                   <li ><a  href="#/employeecorner?tab=tab6" routerlink="/employeecorner">HPS Forms and Circulars </a></li>
                </ul>
             </li>
             <li ><a  href="#/public-notice-board" routerlink="/public-notice-board"><i  class="wb-bookmark mr-10"></i><span >Notice Board </span></a></li>
          </ul>
          <ul  class="sitemap-list">
             <li ><a  href="#/contact" routerlink="/contact"><i  class="wb-bookmark mr-10"></i><span >Contact Us </span></a></li>
          </ul>
       </div>
    </div>
 </div>
 </div>
<app-footer></app-footer>