<div id="main-head" class="main-head" appNoRightClick>
    <div class="container">
       <header>
         <div class="row">
           <div class="col-md-2 col-sm-2 col-xs-12 setlogo">
                 <a href="#"><img src="assets/img/logo.png" class="logo">	</a>
           </div>
           <div class="col-md-8 col-xs-8 col-sm-7 hidden-xs">
             <img src="assets/img/header-banner.png" width="100%" height="100px">
           <!--  <h5 class="mpebtext">Madhya Pradesh Paschim Kshetra Vidyut Vitaran Company Ltd.</h5>
           <h5 class="subtext">(Wholly owned by Government of MP) </h5>  -->
           </div>
           <div class="col-md-2 col-sm-3 col-xs-12 sidemenu text-center">
           <div class="side-option top-bar">	         
              <!-- <a href="#" routerLink='/help'>Help |</a>
               <a href="#" routerLink='/sitemap'>&nbsp;Sitemap </a>                     -->
           <div class="search">
            <form >
              <!-- <input autocomplete="off" name="s" class="query live-search-query" value="" placeholder="Search..." type="text">
              <button class="search-button" type="submit"><i class="fa fa-search"></i></button> -->
            </form>
          </div>
           </div>
         </div>   
        </div> 
       </header>
  <nav class="navigation cf"> 
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
   </button>
   <a class="navbar-brand" href="#">Menu</a>       
     <div class="menu-main-menu-container collapse navbar-collapse" id="navbar-collapse-1">
             <ul id="menu-main-menu" class="menu">
                <li id="" class="current-menu-item"><a  routerLink='/dept-subadmin'>Home</a></li>
                <li id="" class=""><a href="#" routerLink='/subadmin-upload-circular'>Upload Documents</a></li>
                <li id="" class=""><a href="#" routerLink='/view-remove-doc'>View Remove Documents </a></li>
                <!-- <li id="" class=""><a href="#" routerLink='/subadmin-upload-gallary'>View Upload Gallary  </a></li> -->
                <li id="" class=""><a href="#" routerLink='/change-password'>Change Password </a></li>
                <li ><a  (click)="logout()">Logout</a></li>
                <li style="color: white;">UserName:{{username}} &nbsp;&nbsp;User Role:{{userrole}} &nbsp;&nbsp;User Id:{{loginid}} </li>
  
                <!-- <li id="" class=""><a href="#" routerLink='/subadmin-upload-order'>Order</a></li> -->
                <!-- <li id="" class=""><a href="#" routerLink='/dept-admin'>Upload Document</a></li>
                <li id="" class=""><a href="#" routerLink='/gallery-dashboard'>Gallery</a></li> -->
               
                <!-- <li id="" class="#">
                   <a href="#">Services</a>
                   <ul class="sub-menu">
                      <li id="" class=""><a href="#">Consumer Services (Urjas)</a></li>
                      <li id="" class=""><a href="#">Citizen Charter & Supply Code</a></li>
                      <li id="" class=""><a href="#">Downloads</a></li>
                      <li id="" class=""><a href="#">Teriff Details</a></li>
                      <li id="" class=""><a routerLink="/grievanceforum">Consumer Grievances Forum</a></li> 
                   </ul>
                </li> -->
                <!-- <li id="" class="#"> 
                   <a href="#">Media</a>
                   <ul class="sub-menu">
                      <li id="" class=""><a href="" routerLink="/gallery">Gallery</a></li>
                      <li id="" class=""><a href="#">Press Release</a></li>
                   </ul>
                </li> -->
                <!-- <li id="" class=""><a href="#">Tenders/Venders</a></li>
                <li id="" class=""><a href="#">Careers</a></li>
                <li id="" class=""><a href="#">Orders/Circulars</a></li>
                <li id="" class="#"> 
                  <a href="#">Other Links</a>
                  <ul class="sub-menu">
                     <li id="" class=""><a href="#" routerLink="/employeecorner">Employee Corner</a></li>
                     <li id="" class=""><a href="#" routerLink="/rtiact">RTI Act</a></li>
                     <li id="" class=""><a href="#" routerLink="/e nergy-saving-tips">Energy Saving & Tips</a></li>
                     <li id="" class=""><a href="#" routerLink="/external-links">External Links</a></li>
                  </ul>
                </li>
                <li id="" class=""><a href="#" routerLink='/contact'>Contact Us</a></li> -->
             </ul>
          </div>
       </nav>
    </div>
  </div>
