<div class="main-wrap">
<app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block ">...</div>
       <div  class="btn btn-warning"><b >Vision, Mission &amp; Values</b></div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row">
       <div  class="col-md-12">
          <h2  class="headcontent">Our Vision Mission &amp; Values</h2>
       </div>
       <div  class="col-md-12">
          <h4 >Vision Statement</h4>
          <div  class="well">
             <p >To rank amongst the best ten power distribution companies in India by the year 2010 in terms of: </p>
             <ul >
                <li ><i  class="fa fa-check"></i> Financial Viability</li>
                <li ><i  class="fa fa-check"></i> Consumer Satisfaction</li>
                <li ><i  class="fa fa-check"></i> Safety Measures </li>
             </ul>
          </div>
       </div>
       <div  class="col-md-12">
          <h4 >Mission Statement</h4>
          <div  class="well">
             <p >To transform Company into a commercially viable and financially healthy enterprise by: </p>
             <ul >
                <li ><i  class="fa fa-check"></i> Fostering growth of employees</li>
                <li ><i  class="fa fa-check"></i> Adopting modern technology and best practices</li>
                <li ><i  class="fa fa-check"></i> Reducing distribution losses</li>
                <li ><i  class="fa fa-check"></i> Providing reliable, quality and safe power to the consumers at affordable rates</li>
                <li ><i  class="fa fa-check"></i> Promoting policies that support faster economic growth</li>
             </ul>
          </div>
       </div>
       <div  class="col-md-12">
          <h4 >Corporate Values: </h4>
          <div  class="well">
             <p >To achieve its mission, the Company and its employees commit themselves to :</p>
             <ul >
                <li ><i  class="fa fa-check"></i> Honesty and integrity </li>
                <li ><i  class="fa fa-check"></i> Result oriented work</li>
                <li ><i  class="fa fa-check"></i> Transparency in work </li>
                <li ><i  class="fa fa-check"></i> Dedication to duty </li>
                <li ><i  class="fa fa-check"></i> Cost consciousness Openness to suggestions and feedback from all stake holders.</li>
             </ul>
          </div>
       </div>
    </div>
 </div>
</div>
<app-footer></app-footer>