<div class="main-wrap">
   <app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block ">...</div>
       <div  class="btn btn-warning"><b >Our App's on Playstore</b></div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row">
       <div  class="col-md-12">
          <h2  class="headcontent">Our App's on Playstore</h2>
       </div>
       <div  class="col-md-12">
          <br >
          <h4 >Download our Mobile Application using following QR code </h4>
          <div  class="well">
             <div  class="row">
                <div  class="col-md-2">
                   <img  src="assets/img/urjas.png" width="100%">
                   <h4  class=" text-center">Urjas App</h4>
                </div>
                <div  class="col-md-2">
                   <img  src="assets/img/ngbpmr.png" width="100%">
                   <h4  class=" text-center">NGB-PMR App</h4>
                </div>
                <div  class="col-md-2">
                   <img  src="assets/img/wzshms.png" width="100%">
                   <h4  class=" text-center">SHMS App</h4>
                </div>
                <div  class="col-md-2">
                   <img  src="assets/img/WZ_iSampark.png" width="100%">
                   <h4  class=" text-center">iSAMPARK App</h4>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 </div>
<app-footer></app-footer>