<div class="main-wrap">
   <app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block ">...</div>
       <div  class="btn btn-warning"><b >RTI Act</b></div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row ">
       <div  class="col-md-12">
          <h2  class="headcontent">RTI Act</h2>
       </div>
       <div  role="tabpanel">
          <div  class="col-sm-3">
             <ul  class="nav nav-pills brand-pills nav-stacked" role="tablist">
                <li  class="brand-nav active" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab1" role="tab">RTI Act &amp; Guidelines</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab2" aria-expanded="false" data-toggle="tab" href="#tab2" role="tab">RTI Performance</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab3" aria-expanded="false" data-toggle="tab" href="#tab3" role="tab">RTI Directory</a></li>
             </ul>
          </div>
          <div  class="col-sm-9">
             <div  class="tab-content">
                <div  class="tab-pane active" id="tab1" role="tabpanel">
                   <h4  id="tab1">RTI Act &amp; Guidelines</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >Name</th>
                                  <th >Content </th>
                               </tr>
                               <tr >
                                  <td >RTI Act (English) </td>
                                  <td ><a  href="assets/img/pdf/rtiEng.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                               </tr>
                               <tr >
                                  <td >RTI Act (Hindi)</td>
                                  <td ><a  href="assets/img/pdf/rtiHindi.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                               </tr>
                               <tr >
                                  <td >Guidelines for seeking Information</td>
                                  <td ><a  href="assets/img/pdf/GuidelinesRTI.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab2" role="tabpanel">
                   <h4 >Performance of RTI</h4>
                   <hr >
                   <p >MPPKVVCL Indore Performance of RTI(CMD Office) 2010 is shown below:</p>
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >Factors</th>
                                  <th >Count </th>
                               </tr>
                               <tr >
                                  <td >Applications Received </td>
                                  <td >57</td>
                               </tr>
                               <tr >
                                  <td >First Appeals</td>
                                  <td >4</td>
                               </tr>
                               <tr >
                                  <td >Second Appeals</td>
                                  <td >0</td>
                               </tr>
                               <tr >
                                  <td >Disposal</td>
                                  <td >4</td>
                               </tr>
                               <tr >
                                  <td >Application under 30 days	</td>
                                  <td >57</td>
                               </tr>
                               <tr >
                                  <td >Balance</td>
                                  <td >NIL</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab3" role="tabpanel">
                   <h4 >Directory of RTI Employees</h4>
                   <hr >
                   <p ><b >Following table contains document regarding Directory of RTI Employees. </b></p>
                   <div  class="row">
                      <div  class="col-md-12">
                         <div  class="table-responsive">
                            <table  class="table table-striped ">
                               <tbody >
                                  <tr  class="thead">
                                     <th >From</th>
                                     <th >Document </th>
                                  </tr>
                                  <tr >
                                     <td >RTI Employee Directory Indore Region </td>
                                     <td ><a  href="assets/img/pdf/Letter-8001_RTI_Directory-Indore_21082018.PDF" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                                  </tr>
                                  <tr >
                                     <td >RTI Employee Directory Ujjain Region </td>
                                     <td ><a  href="assets/img/pdf/Circular_RTI_07776_31072018.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                      <div  class="col-md-12">
                         <p ><b >Following table contains document regarding RTI Manual.</b></p>
                         <div  class="table-responsive">
                            <table  class="table table-striped ">
                               <tbody >
                                  <tr  class="thead">
                                     <th >Name</th>
                                     <th >Content </th>
                                  </tr>
                                  <tr >
                                     <td >RTI Manual</td>
                                     <td ><a  href="assets/img/pdf/New_RTI_Mannual-2018.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab4" role="tabpanel">
                   <h4 >Employee Corner</h4>
                   <div  class="row">
                      <div  class="col-md-12">
                         <p >Following table contains employee-service links for Indore Discom:</p>
                         <div  class="col-md-12 table-responsive">
                            <table  class="table table-striped">
                               <tbody >
                                  <tr  class="thead">
                                     <th >Particulars</th>
                                     <th >Link </th>
                                  </tr>
                                  <tr >
                                     <td >Paschim Kshetra Circular &amp; Information System Portal </td>
                                     <td ><a  href="http://urjastesting.mpwin.co.in/admin-new/login" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >URJAS (Online Upbhokta Seva Kendra for Official Use Only) </td>
                                     <td ><a  href="https://mpwzservices.mpwin.co.in/mpserhomeuser/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >Saral Bijli Bill &amp; Mukhyamantri Bakaya Bijli Bill Mafi Yojana- Dashboard </td>
                                     <td ><a  href="http://10.98.0.81/urjasreporter/yojanadashboard" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >MPWIN Email Server </td>
                                     <td ><a  href="ftp://ftp.mpwin.co.in/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >MPWIN Email Server </td>
                                     <td ><a  href="https://webmail.mpdiscom.com/owa" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >ERP Helpdesk </td>
                                     <td ><a  href="https://support.mpwin.co.in:8080/arsys/shared/login.jsp?/arsys/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >MPWIN ERP FTP Server </td>
                                     <td ><a  href="ftp://ftp.mpwin.co.in/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >Grivance Redressal System</td>
                                     <td ><a  href="http://info.mpwin.co.in:443/complaint/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >Vigilance Billing </td>
                                     <td ><a  href="http://210.212.158.54:8080/vigilance/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >Energy Audit System </td>
                                     <td ><a  href="https://eas.mpwin.co.in/" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >MPPKVVCL Ranking </td>
                                     <td ><a  href="http://info.mpwin.co.in:443/ranking" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >Online Feeder-wise Line-Loss</td>
                                     <td ><a  href="http://info.mpwin.co.in:443/feederwiselineloss" target="_target"><u >Click Here</u></a></td>
                                  </tr>
                                  <tr >
                                     <td >View Pension Slip</td>
                                     <td ><a  href="http://info.mpwin.co.in:443/mppkvvclpension" target="_target"><u ></u>Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Departmental Info-Portal</td>
                                     <td ><a  href="http://info.mpwin.co.in:443" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Online Cash Collection</td>
                                     <td ><a  href="http://onlinecashcollection.mpwin.co.in:8080/wincoll/" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Vigilance Information System </td>
                                     <td ><a  href="http://www.mppkvvcl.org/vis/" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Maintanance Monitoring System </td>
                                     <td ><a  href="http://info.mpwin.co.in:443/mms/" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Samasya Nivaran Shivir Schedule </td>
                                     <td ><a  href="assets/img/zip/SAMASYA_NIVARAN_SHIVIR_SCHEDULE.zip">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >HT-Connection Monitoring System</td>
                                     <td ><a  href="http://mpeb.ebullience-tech.com/" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >11 KV Supply Hours Monitoring System </td>
                                     <td ><a  href="http://117.240.209.34/shms/Home.jsp" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Krishak Bhoomi Rakba Jankari </td>
                                     <td ><a  href="http://www.landrecords.mp.gov.in/mpeb/districtreport.aspx" target="_target">Click Here</a></td>
                                  </tr>
                                  <tr >
                                     <td >Vendor Approval System (Departmental Use)</td>
                                     <td ><a  href="http://info.mpwin.co.in:443/CTR2/discomuser/index.jsp" target="_target">Click Here</a></td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab5" role="tabpanel">
                   <h4 >Committees</h4>
                   <p > Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. </p>
                   <p > Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. </p>
                   <p > Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. </p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 </div>
<app-footer></app-footer>