<div class="main-wrap">
   <app-header></app-header>
<div  class="container">
    <div  class="btn-group btn-breadcrumb breadcrumb-default">
       <a  class="btn btn-default visible-lg-block visible-md-block" href="#">Home</a>
       <div  class="btn btn-default visible-xs-block hidden-xs visible-sm-block "> ... </div>
       <div  class="btn btn-warning"><b >MPERC Regulations</b></div>
    </div>
 </div>
 <div  class="main container cf">
    <div  class="row ">
       <div  class="col-md-12">
          <h2  class="headcontent">MPERC Regulations</h2>
       </div>
       <div  role="tabpanel">
          <div  class="col-sm-3">
             <ul  class="nav nav-pills brand-pills nav-stacked" role="tablist">
                <h4  class="text-theme">Commercials</h4>
                <li  class="brand-nav active" role="presentation"><a  aria-controls="tab1" aria-expanded="false" data-toggle="tab" href="#tab1" role="tab">Tariff Details</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab2" aria-expanded="false" data-toggle="tab" href="#tab2" role="tab">Filing of ARR</a></li>
                <br >
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab3" data-toggle="tab" href="#tab3" role="tab">Require list of defaulters</a></li>
                <li  class="brand-nav" role="presentation"><a  href="http://r15.mpez.co.in" target="_blank">R-15</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab4" data-toggle="tab" href="#tab4" role="tab">Average Daily Supply</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab5" data-toggle="tab" href="#tab5" role="tab">Court Cases</a></li>
                <li  class="brand-nav" role="presentation"><a  aria-controls="tab6" data-toggle="tab" href="#tab6" role="tab">Accident</a></li>
             </ul>
          </div>
          <div  class="col-sm-9">
             <div  class="tab-content">
                <div  class="tab-pane active" id="tab1" role="tabpanel">
                   <h4  id="tab1">Energy Duty Circular</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead"></tr>
                               <tr >
                                  <th >Date</th>
                                  <th >Document No.</th>
                                  <th >Description</th>
                               </tr>
                               <tr >
                                  <td >25.04.2012</td>
                                  <td ><a  href="assets/img/pdf/EnergyDuty_New_2012-04-25-208.pdf" target="_blank"><u >Circular-208</u></a>&nbsp;&nbsp;&nbsp;&nbsp; <a  href="assets/img/pdf/Electrcity_Duty_Table.pdf" target="_blank"><u >Electrcity Duty Table</u></a></td>
                                  <td >MP Energy Duty Act 2012</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                   <h4 >CESS Circular</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead"></tr>
                               <tr >
                                  <th >Date</th>
                                  <th >Document No.</th>
                                  <th >Description</th>
                               </tr>
                               <tr >
                                  <td >11.01.2013</td>
                                  <td ><a  href="assets/img/pdf/CESS_Circular-2012.pdf" target="_blank"><u >Circular-19</u></a></td>
                                  <td >MP CESS Act 2012</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                   <h4 >Tariff Details</h4>
                   <hr >
                   <p > Madhya Pradesh Electricity Regulatory Commision tariff schedules for high and low tension consumers are categorised on year-wise format as shown below. Each link provides the tariff details for that particular year range.Click on respective link to know more. </p>
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-bordered">
                            <tbody >
                               <tr  class="thead"></tr>
                               <tr >
                                  <th >Year</th>
                                  <th >Tariff Orders</th>
                               </tr>
                               <tr >
                                  <td >2022-23</td>
                                  <td ><a  href="assets/img/pdf/Tariff-Order-FY-2022-23.pdf" target="_blank"><u >LT-HT Tariff Orders For The Year 2022-23</u></a> &nbsp;&nbsp;<button  class="readmore">new</button></td>
                               </tr>
                               <tr >
                                  <td >2021-22</td>
                                  <td ><a  href="assets/img/pdf/Final_Tariff_Order_for_FY_2021-22_30_06_21.pdf" target="_blank"><u >LT-HT Tariff Orders For The Year 2021-22</u></a> &nbsp;&nbsp; <br ><a  href="assets/img/pdf/Public_Notice_for_Tariif_Order_for_FY_2021-22_-English.pdf" target="_blank"><u >Public Notice For The Year 2021-22</u></a> &nbsp;&nbsp; </td>
                               </tr>
                               <tr >
                                  <td >2020-21</td>
                                  <td ><a  href="assets/img/pdf/Retail Supply Tariff Order for FY 2020-21.pdf" target="_blank"><u >LT-HT Tariff Orders For The Year 2020-21</u></a></td>
                               </tr>
                               <tr >
                                  <td >2019-20</td>
                                  <td ><a  href="assets/img/pdf/LT_HT-Tariff_2019-20.pdf" target="_blank"><u >LT-HT Tariff Orders For The Year 2019-20</u></a></td>
                               </tr>
                               <tr >
                                  <td >2018-19</td>
                                  <td ><a  href="assets/img/pdf/LT_HT-Tariff_2018-19.pdf" target="_blank"><u >LT-HT Tariff Orders For The Year 2018-19</u></a></td>
                               </tr>
                               <tr >
                                  <td >2017-18</td>
                                  <td ><a  href="assets/img/pdf/LT_HT-Tariff_2017-18.pdf" target="_blank"><u >LT-HT Tariff Orders For The Year 2017-18</u></a></td>
                               </tr>
                               <tr >
                                  <td >2016-17</td>
                                  <td ><a  href="assets/img/pdf/LT_HT-Tariff_2016-17.pdf" target="_blank"><u >LT-HT Tariff Orders For The Year 2016-17</u></a></td>
                               </tr>
                               <tr >
                                  <td >2015-16</td>
                                  <td ><a  href="assets/img/pdf/LT_HT-Tariff_2015-16.pdf" target="_blank"><u >LT-HT Tariff Orders For The Year 2015-16</u></a></td>
                               </tr>
                               <tr >
                                  <td >2014-15</td>
                                  <td ><a  href="assets/img/pdf/LT-Tariff_2014-15.pdf" target="_blank"><u >LT Tariff Orders For The Year 2014-15</u></a></td>
                               </tr>
                               <tr >
                                  <td >2014-15</td>
                                  <td ><a  href="assets/img/pdf/HT-Tariff_2014-15.pdf" target="_blank"><u >HT Tariff Orders For The Year 2014-15</u></a></td>
                               </tr>
                               <tr >
                                  <td >2013-14</td>
                                  <td ><a  href="assets/img/pdf/LT_Tariff_2013_14_1.pdf" target="_blank"><u >LT Tariff Orders For The Year 2013-14</u></a></td>
                               </tr>
                               <tr >
                                  <td >2013-14</td>
                                  <td ><a  href="assets/img/pdf/HT_Tariff_2013_14_1.pdf" target="_blank"><u >LT Tariff Orders For The Year 2013-14</u></a></td>
                               </tr>
                               <tr >
                                  <td >2012-13</td>
                                  <td ><a  href="assets/img/pdf/ltTariff1.pdf" target="_blank"><u >LT Tariff Orders For The Year 2012-13</u></a></td>
                               </tr>
                               <tr >
                                  <td >2012-13</td>
                                  <td ><a  href="assets/img/pdf/htTariff1.pdf" target="_blank"><u >HT Tariff Orders For The Year 2012-13</u></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                   <h4 >FCA Orders</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive" style="height:400px">
                         <table  class="table table-striped" >
                            <tbody >
                               <tr  class="thead"></tr>
                               <tr >
                                  <th >SL. No.</th>
                                  <th >Date</th>
                                  <th >Order No.</th>
                                  <th >Description</th>
                               </tr>
                               <!---->
                               <tr >
                                  <td >1</td>
                                  <td >30.06.2021</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/FCAjuly-21 to Sep-21.pdf"><u >Letter-147</u></a></td>
                                  <td >July-21 to Sep-21 @ -20 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td >30.03.2021</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/FCA_Rate_Letter_01.04.21_to_30.06.21.pdf"><u >Letter-538</u></a></td>
                                  <td >April-21 to June-21 @ 01 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >3</td>
                                  <td >31.12.2020</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/FCA_Rate_for_Jan.21_to_March.21.pdf"><u >Letter-1563</u></a></td>
                                  <td >Jan-21 to March-21 @ 12 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >4</td>
                                  <td >30.09.2020</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/FCA for Oct-20 to Dec-20.pdf"><u >Letter-119</u></a></td>
                                  <td >Oct-20 to Dec-20 @ 11 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >5</td>
                                  <td >30.06.2020</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/FCA_Letter-767_30062020.pdf"><u >Letter-767</u></a></td>
                                  <td >July-20 to Sep-20 @ 13 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >6</td>
                                  <td >09.06.2021</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/FCA_Letter-709_09062020.pdf"><u >Letter-709</u></a></td>
                                  <td >Apr-20 to June-20 @ 09 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >7</td>
                                  <td >31.12.2019</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-966_31122019.pdf"><u >Letter-966</u></a></td>
                                  <td >Jan-20 to Mar-20 @ 10 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >8</td>
                                  <td >30.09.2019</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-633_30092019.pdf"><u >Letter-633</u></a></td>
                                  <td >Oct-19 to Dec-19 @ 30 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >9</td>
                                  <td >29.06.2019</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-284_29062019.pdf"><u >Letter-284</u></a></td>
                                  <td >July-19 to Sep-19 @ 25 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >10</td>
                                  <td >01.04.2019</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Circular-01_01042019.pdf"><u >Letter-1883</u></a></td>
                                  <td >Apr-19 to June-19 @ 18 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >11</td>
                                  <td >29.12.2018</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-1883_29122018.pdf"><u >Letter-1883</u></a></td>
                                  <td >Jan-19 to Mar-19 @ 17 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >12</td>
                                  <td >29.09.2018</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-670_29092018.pdf"><u >Letter-670</u></a></td>
                                  <td >Oct-18 to Dec-18 @ 19 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >13</td>
                                  <td >30.06.2018</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-922_30062018.pdf"><u >Letter-922</u></a></td>
                                  <td >July-18 to Sep-18 @ 02 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >14</td>
                                  <td >27.03.2018</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-439_27032018.pdf"><u >Letter-439</u></a></td>
                                  <td >Apr-18 to June-18 @ (-) 03 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >15</td>
                                  <td >27.12.2017</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-1864_27122017.pdf"><u >Letter-1864</u></a></td>
                                  <td >Jan-18 to Mar-18 @ (-) 04 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >16</td>
                                  <td >26.09.2015</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-1351_26092017.pdf"><u >Letter-1351</u></a></td>
                                  <td >Oct-17 to Dec-17 @ 07 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >17</td>
                                  <td >30.06.2017</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-952_30062017.pdf"><u >	Letter-952</u></a></td>
                                  <td >July-17 to Sep-17 @ 11 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >18</td>
                                  <td >30.03.2017</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-522_30032017.pdf"><u >Letter-522</u></a></td>
                                  <td >Apr-17 to June-17 @ 16 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >19</td>
                                  <td >30.12.2016</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/letter-972_30122016.pdf"><u >Letter-972</u></a></td>
                                  <td >Jan-17 to Mar-17 @ 21 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >20</td>
                                  <td >04.09.2016</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Circular-733_04092016.pdf"><u >Circular-733</u></a></td>
                                  <td >Oct-16 to Dec-16 @ 14 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >21</td>
                                  <td >02.07.2016</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Circular_FCA-999_02072016.PDF"><u >Circular-999</u></a></td>
                                  <td >Jul-16 to Sep-16 @ 04 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >22</td>
                                  <td >31.03.2016</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Letter-534_31032016.pdf"><u >Letter-534</u></a></td>
                                  <td >Apr-16 to Jun-16 @ 04 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >23</td>
                                  <td >28.12.2015</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Order-2302_FCA.pdf"><u >Order-2302</u></a></td>
                                  <td >Jan-16 to Mar-16 @(-) 03 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >24</td>
                                  <td >28.09.2015</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Order-1732-FCA_28092015.pdf"><u >Order-1732</u></a></td>
                                  <td >Oct-15 to Dec-15 @ 04 paisa per unit</td>
                               </tr>
                               <tr >
                                  <td >25</td>
                                  <td >26.06.2015</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Circular-41_29062015.pdf"><u >Circular-41</u></a></td>
                                  <td >Jul-15 to Sep-15 @ 32 paisa per unit</td>
                               </tr>
                            </tbody>
                         </table>
                         <p >Determination of additional surcharge to be recovered from open access consumers <a  href="assets/img/pdf/Addl_Surcharge _Petition-52_of_2016.pdf" target="_blank"><u > Click Here...</u></a> &nbsp;&nbsp;<button  class="readmore">new</button></p>
                      </div>
                   </div><br>
                   <h4 >Subsidy Orders</h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12 table-responsive" style="height:400px">
                         <table  class="table table-striped" >
                            <tbody >
                               <tr  class="thead"></tr>
                               <tr >
                                  <th >SL. No.</th>
                                  <th >Date</th>
                                  <th >Order No.</th>
                                  <th >Description</th>
                               </tr>
                               <!---->
                               <tr >
                                  <td >1</td>
                                  <td >27.05.2022</td>
                                  <td ><a  target="_blank" href="assets/img/pdf/Subsidy_Order_Dt._27_May_2022.pdf"><u >Order No.F3-08/2021/13/04</u></a></td>
                                  <td >Subsidy Order for FY 2022-23</td>
                               </tr>
                            </tbody>
                         </table>
                       </div>
                   </div>
                   
                </div>
                <div  class="tab-pane" id="tab2" role="tabpane2">
                   <h4 >Filing of Arr</h4>
                   <hr >
                   <p >The filing of Arrears volume-wise is as follows: </p>
                   <div  class="table-responsive">
                      <table  class="table table-striped">
                         <tbody >
                            <tr >
                               <th >S No.</th>
                               <th >Arrears</th>
                            </tr>
                            <tr >
                               <td >1.</td>
                               <td ><a  href="assets/img/excell/Arr_additional.xlsx" target="_blank"><u >Arrears - Additional Format</u></a></td>
                            </tr>
                            <tr >
                               <td >2.</td>
                               <td ><a  href="assets/img/pdf/Arr_vol1.pdf" target="_blank"><u >Arrears Vol-1</u></a></td>
                            </tr>
                            <tr >
                               <td >3.</td>
                               <td ><a  href="assets/img/excell/Arr_vol2.xls" target="_blank"><u >Arrears Vol-2</u></a></td>
                            </tr>
                            <tr >
                               <td >4.</td>
                               <td ><a  href="assets/img/pdf/Arr_vol3.pdf" target="_blank"><u >Arrears Vol-3 (Proposed Tariff)</u></a></td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                   <h4 >ARR &amp; TARIFF PROPOSAL PETITION</h4>
                   <hr >
                   <p >Petition, Notice &amp; Format document list </p>
                   <div  class="table-responsive">
                      <table  class="table table-striped">
                         <tbody >
                            <tr >
                               <th >S No.</th>
                               <th >Documents</th>
                            </tr>
                            <tr >
                               <td >1.</td>
                               <td ><a  href="assets/img/pdf/ARR_MYT-PITITION_2013-14_English_07022013.pdf" target="_blank"><u >English: ARR (FY 2013-14 to 2015-16) &amp; TPP (FY 2013-14)</u></a><br ><a  href="assets/img/pdf/ARR_MYT-PITITION_2013-14_Hindi_07022013.pdf" target="_blank"><u > Hindi: ARR (FY 2013-14 to 2015-16) &amp; TPP (FY 2013-14)</u></a><br ><a  href="assets/img/pdf/Public_Notice_English4-11.pdf" target="_blank"><u >English: Public Notice (Petition-40/2016, Dtd 04.11.2016)</u></a><br ><a  href="assets/img/pdf/Public_Notice_Hindi.pdf" target="_blank"><u >Hindi: Public Notice (Petition-40/2016, Dtd 04.11.2016)</u></a></td>
                            </tr>
                            <tr >
                               <td >2.</td>
                               <td ><a  href="assets/img/zip/ARR_For_FY_2014-151.zip"><u >	ARR-TPP (FY 2014-15) &amp; ARR Formats</u></a></td>
                            </tr>
                            <tr >
                               <td >3.</td>
                               <td ><a  href="assets/img/zip/ARR_MYT-PITITION_2015-16_English_14022015.zip"><u >English: ARR-TPP (FY 2015-16) &amp; ARR Formats</u></a><br ><a  href="assets/img/zip/ARR_MYT-PITITION_2015-16_Hindi_14022015.zip"><u >Hindi: ARR-TPP (FY 2015-16) &amp; ARR Formats</u></a><br ><a  href="assets/img/pdf/PublicNoticeTariff-2015-16-eng.pdf" target="_blank"><u > English: Public Notice (Petition-30/2014, Dtd 17.04.2015)</u></a><br ><a  href="assets/img/pdf/PublicNoticeTariff-2015-16-hindi.pdf" target="_blank"><u > Hindi: Public Notice (Petition-30/2014, Dtd 17.04.2014)</u></a></td>
                            </tr>
                            <tr >
                               <td >4.</td>
                               <td ><a  href="assets/img/zip/English_Petition_2016-17_08012016.zip"><u >English: ARR-TPP (FY 2016-17) &amp; ARR Formats</u></a><br ><a  href="assets/img/zip/Hindi Petition_2016-17_08012016.zip"><u >Hindi: ARR-TPP (FY 2016-17) &amp; ARR Formats</u></a><br ><a  href="assets/img/pdf/mpRegulation/tariff/Public_notice_English.pdf" target="_blank"><u > English: Public Notice (Petition-52/2016, Dtd 14.12.2016)</u></a><br ><a  href="assets/img/pdf/Public_Notice_Hindi.pdf" target="_blank"><u > Hindi: Public Notice (Petition-52/2016, Dtd 14.12.2016)</u></a></td>
                            </tr>
                            <tr >
                               <td >5.</td>
                               <td ><a  href="assets/img/pdf/ARR-TPP-2017-18_Petition-71-2016-Eng.pdf" target="_blank"><u >	English: ARR (FY 2017 to 2019) &amp; TPP (FY 2017-18)</u></a><br ><a  href="assets/img/pdf/ARR-TPP-2017-18_Petition-71-2016-Hindi.pdf" target="_blank"><u >Hindi: ARR (FY 2017 to 2019) &amp; TPP (FY 2017-18)</u></a><br ><a  href="assets/img/pdf/ARR-TPP-2017-18_WZ-Formats.pdf" target="_blank"><u > Formats: ARR (FY 2017 to 2019) &amp; TPP (FY 2017-18)</u></a><br ><a  href="assets/img/pdf/Public_Notice-71-2016_English.pdf" target="_blank"><u >English: Public Notice (Petition-71/2016, Dtd 07.02.2017)</u></a><br ><a  href="assets/img/pdf/Public_Notice-71-2016_Hindi.pdf" target="_blank"><u > Hindi: Public Notice (Petition-71/2016, Dtd 07.02.2017)</u></a></td>
                            </tr>
                            <tr >
                               <td >6.</td>
                               <td ><a  href="assets/img/pdf/ARR-Tariff_Petition-2018-19-Eng_20012018.pdf" target="_blank"><u > English: ARR (FY 2018 to 2019) &amp; TPP (FY 2018-19)</u></a><br ><a  href="assets/img/pdf/ARR_Formats_Eng_2018-19.pdf" target="_blank"><u > English: ARR Formats (2018-19)</u></a><br ><a  href="assets/img/pdf/ARR-Tariff_Petition-2018-19-Hindi_22012018.pdf" target="_blank"><u > Hindi: ARR (FY 2018 to 2019) &amp; TPP (FY 2018-19)</u></a><br ><a  href="assets/img/pdf/Tariff_Scheduled_Hindi_2018-19.pdf" target="_blank"><u > Hindi: Tariff Schedule (2018-19)</u></a></td>
                            </tr>
                            <tr >
                               <td >7.</td>
                               <td ><a  href="assets/img/pdf/ARR-Tariff_Petition-2019-20-Eng_31052019.pdf" target="_blank"><u > English: ARR (FY 2019-20) &amp; TPP (FY 2019-20)</u></a><br ><a  href="assets/img/pdf/Public_Notice_2019-20_English_31052019.pdf" target="_blank"><u > English: Publice Notice (2019-20)</u></a><br ><a  href="assets/img/pdf/Executive_Summary_Eng_2019-20_31052019.pdf" target="_blank"><u > English: Executive Summary (2019-20)</u></a><br ><a  href="assets/img/pdf/ARR-Tariff_Petition-2019-20-Hindi_31052019.pdf" target="_blank"><u > Hindi: ARR (FY 2019-20) &amp; TPP (FY 2019-20)</u></a><br ><a  href="assets/img/pdf/Public_Notice_2019-20_Hindi_31052019.pdf" target="_blank"><u > Hindi: Publice Notice (2019-20)</u></a><br ><a  href="assets/img/pdf/Executive_Summary_Hindi_2019-20_31052019.pdf" target="_blank"><u > Hindi: Executive Summary (2019-20)</u></a><br ><a  href="assets/img/pdf/ARR-Formats_2019-20_Final.pdf" target="_blank"><u > ARR Formats (2019-20)</u></a></td>
                            </tr>
                            <tr >
                               <td >8.</td>
                               <td ><a  href="assets/img/pdf/ARR-Tariff_petition_FY-2020-21-English_18022020.pdf" target="_blank"><u >English: ARR (FY 2020 to 2021) &amp; TPP (FY 2020-21)</u></a><br ><a  href="assets/img/pdf/ARR-Tariff_petition_FY-2020-21-Hindi_18022020.pdf" target="_blank"><u > Hindi: ARR (FY 2020 to 2021) &amp; TPP (FY 2020-21)</u></a><br ><a  href="assets/img/pdf/Public_Notice_ARR_FY-2020-21-English_18022020.pdf" target="_blank"><u > English: Public Notice (Petition-49/2019, Dtd 13.02.2020)</u></a><br ><a  href="assets/img/pdf/Public_Notice_ARR_FY-2020-21-Hindi_18022020.pdf" target="_blank"><u > Hindi: Public Notice (Petition-49/2019, Dtd 13.02.2020)</u></a></td>
                            </tr>
                            <tr >
                               <td >9.</td>
                               <td ><a  href="assets/img/pdf/12022021-ARR - Tariff petition FY-2021-22.pdf" target="_blank"><u >English: ARR (FY 2021 to 2022) &amp; TPP (FY 2021-22)</u></a><br ><a  href="assets/img/pdf/12022021-ARR FY-2021-22-Public Notice-English.pdf" target="_blank"><u > English: Public Notice (Petition no.05/2021,Dtd 12.02.2021 ) </u></a><br ><a  href="assets/img/pdf/12022021-ARR FY-2021-22-Public Notice-Hindi.pdf" target="_blank"><u > Hindi: Public Notice (Petition no.05/2021,Dtd 12.02.2021 )</u></a></td>
                            </tr>
                            <tr >
                               <td >10.</td>
                               <td ><a  href="assets/img/pdf/03012022-ARR-Petition-P61-2021.pdf" target="_blank"><u >English: ARR (FY 2022-23 to 26-27) &amp; TPP (FY 2022-23)</u></a><br ><a  href="assets/img/pdf/03012022-PublicNotice-English-ARR-Petition-P61-2021.pdf" target="_blank"><u > English: Public Notice (Petition no.04/2022,Dtd 10.02.2022 ) </u></a><br ><a  href="assets/img/pdf/03012022-PublicNotice-Hindi-ARR-Petition-P61-2021.pdf" target="_blank"><u > Hindi: Public Notice (Petition no.61/2021,Dtd 30.12.2021 )</u></a><br ><a  href="assets/img/pdf/03012022-WZ-MYT-Formats-FY-2023-27.pdf" target="_blank"><u > WZ MYT Formats FY-2023-27</u></a><br ><a  href="assets/img/pdf/PNo-04-2022-Formats-MPPMCL.pdf" target="_blank"><u > MPPMCL Formats FY-2023-27</u></a></td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                   <h4 >TRUE-UP </h4>
                   <hr >
                   <p >True-up of FY 2009 onwards </p>
                   <div  class="table-responsive">
                      <table  class="table table-striped">
                         <tbody >
                            <tr >
                               <th >S No.</th>
                               <th >Documents</th>
                            </tr>
                            <tr >
                               <td >1.</td>
                               <td ><a  href="assets/img/zip/True-up-petition_FY20-21.zip"><u > True-up Petition 2020-21</u></a></td>
                            </tr>
                            <tr >
                               <td >2.</td>
                               <td ><a  href="assets/img/zip/Public_Notice_True-up_1920.zip"><u > True-up Petition 2019-20</u></a></td>
                            </tr>
                            <tr >
                               <td >3.</td>
                               <td ><a  href="assets/img/zip/Revised True-up petition_FY-19.zip"><u >Revised True-up Petition 2018-19</u></a></td>
                            </tr>
                            <tr >
                               <td >4.</td>
                               <td ><a  href="assets/img/zip/True-Up_2017-18.zip"><u >True-Up Petition 2017-18</u></a></td>
                            </tr>
                            <tr >
                               <td >5.</td>
                               <td ><a  href="assets/img/zip/True-Up_2016-17.zip"><u >True-Up Petition 2016-17</u></a></td>
                            </tr>
                            <tr >
                               <td >6.</td>
                               <td ><a  href="assets/img/zip/True-Up_2015-16.zip"><u >True-Up Petition 2015-16</u></a></td>
                            </tr>
                            <tr >
                               <td >7.</td>
                               <td ><a  href="assets/img/zip/True-Up_2014-15.zip"><u >True-Up Petition 2014-15</u></a></td>
                            </tr>
                            <tr >
                               <td >8.</td>
                               <td ><a  href="assets/img/zip/True-Up_2013-14.zip"><u >	True-Up Petition 2013-14</u></a></td>
                            </tr>
                            <tr >
                               <td >9.</td>
                               <td ><a  href="assets/img/zip/Extn-08122016_Petition-40_True-Up-Petition_2013-14.zip"><u >	Extension (Public Hearing, True-Up Petition 2013-14)</u></a></td>
                            </tr>
                            <tr >
                               <td >10.</td>
                               <td ><a  href="assets/img/zip/Final_True_Up_Mail-2011-12.zip"><u >Final True-Up Mail 2011-12</u></a></td>
                            </tr>
                            <tr >
                               <td >11.</td>
                               <td ><a  href="assets/img/zip/True_up_petetion_2010-11.zip"><u >True-Up Petetion 2010-11</u></a></td>
                            </tr>
                            <tr >
                               <td >12.</td>
                               <td ><a  href="assets/img/zip/Final_True-up_09-10.zip"><u >Final True-Up 09-10</u></a></td>
                            </tr>
                            <tr >
                               <td >13.</td>
                               <td ><a  href="assets/img/zip/True_up_2008-09.zip"><u >True-Up 2008-09</u></a></td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                </div>
                <div  class="tab-pane" id="tab3" role="tabpanel">
                   <h4 >List Of Defaulters</h4>
                   <hr >
                   <p >Following is the list of Defaulters for Indore &amp; Ujjain regions: </p>
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >S. No.</th>
                                  <th >Regions</th>
                               </tr>
                               <tr >
                                  <td >1</td>
                                  <td ><a  href="assets/img/pdf/ujjainRegion1.pdf" target="_blank"><u >Ujjain Region</u></a></td>
                               </tr>
                               <tr >
                                  <td >2</td>
                                  <td ><a  href="assets/img/pdf/indoreRegion1.pdf" target="_blank"><u >Indore Region</u></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab4" role="tabpanel">
                   <h4 >Average Daily Suppy </h4>
                   <hr >
                   <div  class="row">
                      <div  class="col-md-12">
                         <p >The supply hours are based on load shedding from EHV s/s as per instruction given by SLDC. There may be some variation on account of local load management being done by DISCOMS..For different Indore regions,link is provided below. </p>
                         <p ><a  href="http://210.212.148.100/shms/Home.jsp"><u >Click Here </u></a> to view for Average Daily Supply.</p>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab5" role="tabpanel">
                   <h4 >Discom Court Cases</h4>
                   <hr >
                   <p > Following table contains Court of Indore Discom: </p>
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >Region </th>
                                  <th >Month-Year </th>
                                  <th >Document No.</th>
                                  <th >Case Documents </th>
                               </tr>
                               <tr >
                                  <td >Ujjain Region</td>
                                  <td >January-2014</td>
                                  <td >CE/UR/LO/543, dated 10.01.2014</td>
                                  <td ><a  href="assets/img/zip/Cases_UR_Jan-14.zip"><u >Jan-14 Case Document</u></a></td>
                               </tr>
                               <tr >
                                  <td >Ujjain Region</td>
                                  <td >August-2013 </td>
                                  <td >CE/UR/LO/17933, dated 21.09.2013</td>
                                  <td ><a  href="assets/img/zip/Cases_UR_Aug-13.zip"><u >Aug-13 Case Document</u></a></td>
                               </tr>
                               <tr >
                                  <td >Ujjain Region</td>
                                  <td >June-2013</td>
                                  <td >CE/UR/LO/12970, dated 15.07.2013 </td>
                                  <td ><a  href="assets/img/zip/Cases_UR_Jun-13.zip"><u >Jun-13 Case Document</u></a></td>
                               </tr>
                               <tr >
                                  <td >Ujjain Region</td>
                                  <td >April-2013</td>
                                  <td >CE/UR/LO/8827, dated 08.05.2013 </td>
                                  <td ><a  href="assets/img/zip/Cases_UR_Apr-13.zip"><u >Apr-13 Case Document</u></a></td>
                               </tr>
                               <tr >
                                  <td >Ujjain Region</td>
                                  <td >November-2012</td>
                                  <td >CE/UR/LO/23551, dated 10.12.2012</td>
                                  <td ><a  href="assets/img/zip/Cases_UR_Nov-12.zip"><u >Nov-12 Case Document</u></a></td>
                               </tr>
                               <tr >
                                  <td >Ujjain Region</td>
                                  <td >September-2012 </td>
                                  <td > CE/UR/LO/20199, dated 05.10.2012</td>
                                  <td ><a  href="assets/img/zip/Cases_UR_Sept-12.zip"><u >Sept-12 Case Document</u></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <div  class="tab-pane" id="tab6" role="tabpanel">
                   <h4 >Accidents</h4>
                   <hr >
                   <p >Following table contain links of regions depicting number of accidents occured:</p>
                   <div  class="row">
                      <div  class="col-md-12 table-responsive">
                         <table  class="table table-striped">
                            <tbody >
                               <tr  class="thead">
                                  <th >S. No.</th>
                                  <th >Name Of Regions </th>
                                  <th >Links </th>
                               </tr>
                               <tr >
                                  <td >1.</td>
                                  <td >Indore Region</td>
                                  <td ><a  href="assets/img/pdf/indoreRegion2.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                               </tr>
                               <tr >
                                  <td >2.</td>
                                  <td >Indore Region</td>
                                  <td ><a  href="assets/img/pdf/ujjainRegion2.pdf" target="_blank"><img  src="assets/img/pdf-icon.png" width="20px"></a></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 </div>
<app-footer></app-footer>