<div class="main-wrap">
   <app-header></app-header>
<div class="banner-frame">
    <div  class="container">
       <div  class="row">
          <div  class="col-md-8 col-sm-7 col-lg-9">
             <div  class="carousel slide" data-interval="false" data-ride="carousel" id="carousel-example-generic">
                <div  class="carousel-inner">
                   <div  class="item blocks active"><img  alt="First slide" class="attachment-main-slider wp-post-image" src="assets/img/banner/3.png" style="height:190px"></div>
                   <div  class="item"><img  alt="Second slide" src="assets/img/banner/2.png" style="height:190px"></div>
                   <div  class="item"><img  alt="Second slide" src="assets/img/banner/4.png" style="height:190px"></div>
                   <div  class="item"><img  alt="Second slide" src="assets/img/banner/5.png" style="height:190px"></div>
                   <div  class="item"><img  alt="Second slide" src="assets/img/banner/1.png" style="height:190px"></div>
                </div>
                <a  class="left carousel-control" data-slide="prev" href="#carousel-example-generic"><span  class="fa fa-angle-left fa-2x"></span></a><a  class="right carousel-control" data-slide="next" href="#carousel-example-generic"><span  class="fa fa-angle-right fa-2x"></span></a>
             </div>
          </div>
          <div  class="col-md-4 col-sm-5 blocks col-lg-3">
             <div  class="row">
                <div  class="col-md-12 mdsir">
                   <h3  class="msg"> Message From MD.....<i  class="fa fa-pencil"></i></h3>
                   <hr  style="margin-bottom: 5px;">
                   <a  routerLink="/about" href="#/about">
                      <div  class="">
                         <img  alt="" height="155px" src="assets/img/md-sirnew.jpg" width="100%">
                         <h3  class="title" style="font-size: 16px;">Shri. Amit Tomar <small  class=""> (IAS, MD)</small></h3>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
    </div>
    <div  class="support">
       <div  class="container">
          <div  class="row mt-10">
             <div  class="col-md-8 col-sm-9 col-lg-9">
                <div  class="row mt-10">
                   <div  class="col-md-3 col-sm-3 borderright">
                      <section  class="highlights">
                         <span  class="cat-title larger cat-14"><a  href="#/mission-vission" routerLink="/mission-vission">Click to view more</a></span>
                         <article >
                            <a  class="image-link" href="#"><img  class="image wp-post-image no-display appear" height="285" src="assets/img/vission2.jpg" width="351"></a>
                            <h2  itemprop="name headline"><a  href="#/mission-vission" routerLink="/mission-vission">Our Vision, Mission &amp; Values</a></h2>
                         </article>
                      </section>
                   </div>
                   <div  class="col-md-3 col-sm-3  borderright">
                      <section  class="highlights">
                         <span  class="cat-title larger cat-14"><a  href="https://mpwzservices.mpwin.co.in/mpeb_english/home" target="_blank">Click to view more</a></span>
                         <article >
                            <a  class="image-link" href="https://mpwzservices.mpwin.co.in/mpeb_english/home" target="_blank"><img  height="285" src="assets/img/customer-service.jpg" width="351"></a>
                            <h2  itemprop="name headline"><a  href="https://mpwzservices.mpwin.co.in/mpeb_english/home" target="_blank">Customer Services</a><a  class="pull-right" href="https://mpwzservices.mpwin.co.in/mpeb_english/" target="_blank"><img  src="assets/img/urjas-logo.png" width="50px"></a></h2>
                         </article>
                      </section>
                   </div>
                   <div  class="col-md-3 col-sm-3 borderright">
                      <section  class="highlights">
                         <span  class="cat-title larger cat-14"><a  href="https://mpwzservices.mpwin.co.in/westdiscom/" target="_blank">Click to view more</a></span>
                         <article >
                            <a  class="image-link" href="#"><img  class="image wp-post-image no-display appear" height="285" src="assets/img/viewnpaybill.jpg" width="351"></a>
                            <h2  itemprop="name headline"><a  href="https://mpwzservices.mpwin.co.in/westdiscom/" target="_blank">View &amp; Pay Energy Bill for LT</a></h2>
                         </article>
                      </section>
                   </div>
                   <div  class="col-md-3 col-sm-3">
                      <section  class="highlights">
                         <span  class="cat-title larger cat-14"><a  href="https://mpwzservices.mpwin.co.in/westdiscom/" target="_blank">Click to view more</a></span>
                         <article >
                            <a  class="image-link" href="#"><img  class="image wp-post-image no-display appear" height="285" src="assets/img/viewnpaybill.jpg" width="351"></a>
                            <h2  itemprop="name headline"><a  href="https://mpwzservices.mpwin.co.in/westdiscom/" target="_blank">View Energy Bill for HT</a></h2>
                         </article>
                      </section>
                   </div>
                </div>
                <div  class="row  mt-10">
                   <div  class="col-md-6 col-sm-6">
                      <h3  class="gallery-title prominent">Latest News,Updates &amp; Events <a  class="pull-right btn btn-xs viewall" href="#/public-latest-news-updates" routerLink="/public-latest-news-updates">View All</a></h3>
                      <ul  class="block1 posts str4 str_wrap str_vertical" style="height:280px;">
                         <div class="str_move str_origin" style="top: 71820.9px;">
                            <!---->
                            <li>
                              <a  href="https://www.facebook.com/CMMadhyaPradesh" target="_blank"  class="title composition-wrapper" data-color="1a1a1a"  >
                              <div class="text-wrap"><i class="fa fa-angle-double-right"></i> माननीय मुख्यमंत्री शिवराज सिंह चौहान जी द्वारा आमजन एवं बिजली
                                उपभोक्ताओं से संवाद,  विडिओ कॉन्फ्रेंसिंग के माध्यम से कल दिनांक 22 जून 2020, अपरान्ह 4 बजे किया जायेगा |   </div> <button class="readmore">new</button>     
                              </a>    
                            </li>
                               <li *ngFor='let data of resp;index as i'>
                               <a *ngFor="let data1 of data.docs" target="_blank" [routerLink]="['/view-pdf',data1.filepath,data1.subject,data1.docdescription,data1.filename]" class="title composition-wrapper" data-color="1a1a1a"  >
                               <div class="text-wrap"><i class="fa fa-angle-double-right"></i> {{data1.subject}}</div> <button class=""></button>     
                               </a>    
                             </li>
                            
                         </div>
                      </ul>
                   </div>
                   <div  class="col-md-6 col-sm-6">
                      <h3  class="gallery-title prominent">Latest Results <a  class="pull-right btn btn-xs viewall" href="#/CarrerComponent" routerLink="/careers">View All</a></h3>
                      <ul  class="block1 posts str4 str_wrap str_vertical" style="height: 280px;">
                         <div class="str_move str_origin" style="top: 71624.3px;">
                            <!---->
                            <li   *ngFor='let data1 of resp1;index as i1'><i class="fa fa-angle-double-right" ></i>
                              <a *ngFor='let data2 of data1.docs' target="_blank" [routerLink]="['/view-pdf',data2.filepath,data2.subject,data2.docdescription,data2.filename]"  class="title" >{{data2.subject}}</a> 
                              <!-- <p>{{data2.subject}}</p>   -->
                            </li>
                         </div>
                      </ul>
                   </div>
                </div>
             </div>
             <div  class="col-md-4 col-sm-3 col-lg-3">
                <h3  class="widgettitle">Useful Links</h3>
                <ul  class="block posts">
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="https://esamay.mpwin.co.in:8444" target="_blank">E-Samay Appointment system link</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="https://exhibition.skoch.in/exhibition/madhya-pradesh-paschim-kshetra-vidyut-vitran-company-ltd/" target="_blank">SKOCH Award Semi-finals Voting Link (Registered User)</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="https://exhibition.skoch.in/login/" target="_blank">SKOCH Award Semi-finals Voting Link (New User)</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="#/imp-links" routerLink="/imp-links">Important Links</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="#/performance" routerLink="/performance">Performance</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="#/regulation" routerLink="/regulation">MPREC Regulations</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="assets/img/pdf/Gazette-Electricity-Rights-of-Consumers-Rules-2020__1_.pdf" target="_blank">विघुत (उपभोक्ता अधिकार) नियम 2020</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="#/quicklinks" routerLink="/quicklinks">Quick Links</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="#/public-latest-result" routerLink="/public-latest-result"> Latest Results</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="#/public-latest-news-updates" routerLink="/public-latest-news-updates">Latest Announcments</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="" routerLink="/external-links">External Links</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="https://mpwzservices.mpwin.co.in/mpeb_english/mobregister" target="_blank">SMS Alert Registration-LT/HT</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="https://mpwzservices.mpwin.co.in/mpeb_english/info-electric-theft" target="_blank">Report Theft</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="assets/img/zip/DATA.zip" target="_blank">List of Urban Domestic Consumers upto 10 KW</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="#/dsm-account" routerLink="/dsm-account">DSM Account</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="assets/img/pdf/future_skills_prime.PDF" target="_blank"> Future Skills PRIM ( Programme for Re-Skilling &amp; Up-skilling of IT manpower for employability)</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="assets/img/pdf/Capex_Petition_FY_17-FY20 Draft 2-converted.pdf" target="_blank"> Capex Plan by the MPPKVVCL, Indore for FY 2016-17 to 2019-20</a></li>
                   <li ><i  class="fa fa-angle-right"></i><a  class="title" href="#/apps" routerLink="/apps">Our App's on Playstore</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    </div>
    <app-footer></app-footer>